---
title: Home
layout: default
youtube_link: https://www.youtube.com/embed/u4SfjE52sQo?autoplay=1
---

<section class="Hero">
	<div class="gallery">
		{% assign entry = (site.data.current | sort:"date_created") | reverse  %}
		{% for current in entry | limit: 8 %}
		<a class="gallery-cell" href="/for-sale/{{current.property_id}}.html">
			<div class="FlexEmbed">
				<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
				<div class="FlexEmbed-content">
					<div class="u-posAbsoluteCenter CoverImage CoverImage--hint" style="background-image: url({{current.image}})"></div>
					<div class="Container u-fullHeight">
						<div class="Grid Grid--withGutter u-fullHeight u-flex u-flexAlignItemsEnd">
							<div class="Grid-cell u-textCenter">
								<div class="Hero-details">
									<span class="Property-address">{{current.address_street}}, {{current.address_suburb}}</span>
									<!-- <span>•</span> -->
									<span class="Property-price">{{current.price}}</span>
									<!-- <span>•</span> -->
									<span class="Property-config">
										<span class="Property-bedroooms">{{current.bedrooms}}</span>
										<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
										</svg>
										<span class="Property-bathrooms">{{current.bathrooms}}</span>
										<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
										</svg>
										<span class="Property-carspaces">{{current.garage}}</span>
										<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
										</svg>
									</span>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
</section>

<section class="Section">
	<div class="Container">
		<div class="Grid-cell--center u-marginT u-sm-marginT2">
			<h2 class="Headline u-textCenter u-marginB15">Therese Plath Real Estate.</br><span class="Header-title">Selling in all price ranges, in all Cairns suburbs.</span></h2>
			<div class="FlexEmbed">
				<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
				<div class="FlexEmbed-content">
					<div class="videoWrapper js-videoWrapper">
						<iframe class="u-posAbsoluteCenter js-videoIframe" src="" frameborder="0" allowTransparency="true" allowfullscreen data-src="{{ page.youtube_link }}" width="100%" height="100%" ></iframe>
						<button class="u-posAbsoluteCenter CoverImage videoPoster js-videoPoster" style="background-image:url('/build/images/video-poster.jpg');">
							<svg class="u-posAbsoluteCenter Icon Icon--super u-colorWhite">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-play"></use>
							</svg>
							Play video
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="u-sm-size11of12 Grid-cell--center u-marginT15 u-marginB3">
			<div class="gallery u-sm-size9of12 Grid-cell--center">
				{% assign testimonials = site.pages | where: 'title', 'Testimonials' | first %}
				{% for testimonial in testimonials.callouts %}
					<a class="gallery-cell u-marginBD2" href="/testimonials">
						<p class="s-cms-testimonialCallout">
							{{ testimonial }}
							<svg class="Icon Icon--rightSm Icon--textLgAlign u-colorMuted">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-open-in-new"></use>
							</svg>
						</p>
					</a>
				{% endfor %}
			</div>
		</div>

		<div class="DivRule--light u-marginBD2">&nbsp;</div>

		<div class="Grid Grid--withGutter msm-Grid--alignCenter">
			<div class="Grid-cell u-size9of12 u-sm-size1of2">
				{% assign profile = site.profiles | where: 'title', 'Therese' | first %}
				{% include profile-card.html %}
			</div>
			<div class="Grid-cell u-size9of12 u-sm-size1of2 u-msm-marginT">
				{% assign profile = site.profiles | where: 'title', 'Team' | first %}
				{% include profile-card.html %}
			</div>
		</div>

	</div>
</section>

<section class="Section u-bgNeutral" style="font-size:0">
	<div class="Container Container--lg">
		<a class="Pathway u-xs-size1of3 u-textRight" href="/for-sale">
			<span class="Pathway-icon">
				<svg class="Icon Icon--lg Icon--textAlign">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-for-sale"></use>
				</svg>
			</span>
			<span class="Pathway-title Arrow-right">Properties for sale</span>
			<p class="u-xs-display">&nbsp;</p>
		</a>
		<a class="Pathway u-xs-size1of3" href="/appraisal">
			<span class="Pathway-icon">
				<svg class="Icon Icon--lg Icon--textAlign">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-appraisal"></use>
				</svg>
			</span>
			<span class="Pathway-title Arrow-right">What's your property worth?</span>
			<p class="">Get a free no-obligation quote</p>
		</a>
		<a class="Pathway u-xs-size1of3" href="/recent-sales">
			<span class="Pathway-icon">
				<svg class="Icon Icon--lg Icon--textAlign">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-recent-sales"></use>
				</svg>
			</span>
			<span class="Pathway-title Arrow-right">Recent sales</span>
			<p class="u-xs-display">&nbsp;</p>
		</a>
	</div>
</section>

<section class="Section">
	<div class="Container">
		<div class="Grid Grid--withGutter">
			<div class="Grid-cell u-xs-size3of12">
				<a href="/blog"><h1 class="Headline">Blog</h1></a>
				<div class="Affix u-mxs-hide" data-spy="affix" data-offset-top="2642">
					{% include post-aside.html %}
				</div>
			</div>
			<div class="Grid-cell u-xs-size9of12 u-alignBlockDown">
				{% for post in site.posts | limit: 3 %}
					{% include post-in-list.html %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>
