

// --------------------------------------------------------------------------
// BOOTSTRAP AFFIX COMPONENT
// --------------------------------------------------------------------------


.affix {
	top: space(2);
	width: 295px;

	// only affix on larger viewports
	@include respond-to(sm) {
		position: fixed;
	}
}

.affix-bottom {
	position: absolute;
}
