

// --------------------------------------------------------------------------
//   COMPONENT: BLOG POSTS
// --------------------------------------------------------------------------


// Posts tags nav
// --------------------------------------------------------------------------

.Posts-nav {
    @include listClean();

    > li {
        @include TextSm();
    }

    a {
        color: palette(muted);
        padding-bottom: space(0.15);
    }
}

// Simple highlighted menu using tags and CSS
// See: https://gist.github.com/sskylar/c8f6fef2ff6fd49e1169
.tag.community-events .Posts-nav .community-events,
.tag.house-tips .Posts-nav .house-tips,
.tag.suburb-profiles .Posts-nav .suburb-profiles {
    background-color: palette(brand);
    color: palette(black);
}


// Post block
// --------------------------------------------------------------------------

a.Post {
    @include complexLink();

    + .Post {
        margin-top: space(3.25);
    }

    @include on-event() {
        .CoverImage {
            @include baseTransition();
            background-blend-mode: multiply;
            background-color: rgba( palette(brand), 0.4 );
            // filter: grayscale(100%);
            // opacity: 0.3;
        }
    }

    @include when-inside(".post") {
        @include on-event() {
            .CoverImage {
                opacity: 0.2;
            }
        }
    }
}

.Post-image {
    margin-top: space(0.3);

    &--fullWidth {
        margin-bottom: space(1);
    }

    &--dark .CoverImage {
        opacity: 0.5;
    }

    .CoverImage {
        @include baseTransition();
    }
}

.Post-title {
    @include headlineRg();
}

.Post-excerpt {
    @include TextSm();
}


// Post headline vars
// Includes Next/prev headlines. These are contained within
// '.FlexEmbed-content.CoverImage' containers.
// --------------------------------------------------------------------------

.Post-headline {
    @include headlineRg();
    color: palette(white);
    margin: 0;
    padding: space(0.9) space(1);
    position: absolute;
    width: 75%;

    &--right {
        bottom: 0;
        float: right;
        right: 0;
        text-align: right;
    }

    @include on-event() {
        color: palette(faint);
    }
}
