

// --------------------------------------------------------------------------
//    COMPONENT: RADIO BUTTONS
//    Ripped from: http://materializecss.com/forms.html
// --------------------------------------------------------------------------


// Remove default Radio Buttons
[type="radio"]:not(:checked),
[type="radio"]:checked {
	left: -9999px;
	position: absolute;
	opacity: 0;
}

[type="radio"]:not(:checked)+label,
[type="radio"]:checked+label {
	cursor: pointer;
	font-size: 1rem;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	padding-left: 35px;
	position: relative;
	transition: .28s ease;
	user-select: none;
}

[type="radio"] + label:before,
[type="radio"] + label:after {
	content: '';
	height: 16px;
	left: 0;
	margin: 4px;
	position: absolute;
	top: 0;
	transition: .28s ease;
	width: 16px;
	z-index: 0;
}


// Unchecked styles
// --------------------------------------------------------------------------

[type="radio"]:not(:checked) + label:before,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:before,
[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
	border-radius: 50%;
}

[type="radio"]:not(:checked) + label:before,
[type="radio"]:not(:checked) + label:after {
	border: 2px solid palette(white);
}

[type="radio"]:not(:checked) + label:after {
	transform: scale(0);
	z-index: -1;
}


// Checked styles
// --------------------------------------------------------------------------

[type="radio"]:checked + label:before {
	border: 2px solid transparent;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
	border: 1px solid palette(charcoal);
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
	background-color: palette(brand);
	z-index: 0;
}

[type="radio"]:checked + label:after {
	transform: scale(1.02);
}

/* Radio With gap */
[type="radio"].with-gap:checked + label:after {
	transform: scale(.5);
}

/* Focused styles */
[type="radio"].tabbed:focus + label:before {
	box-shadow: 0 0 0 10px rgba(0,0,0,.1);
}

/* Disabled Radio With gap */
[type="radio"].with-gap:disabled:checked + label:before {
	border: 2px solid palette(muted);
}

[type="radio"].with-gap:disabled:checked + label:after {
	border: none;
	background-color: palette(muted);
}

/* Disabled style */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
	background-color: transparent;
	border-color: palette(muted);
}

[type="radio"]:disabled + label {
	color: palette(muted);
}

[type="radio"]:disabled:not(:checked) + label:before {
	border-color: palette(muted);
}

[type="radio"]:disabled:checked + label:after {
	background-color: palette(muted);
	border-color: palette(muted);
}
