

// --------------------------------------------------------------------------
//   COMPONENT: PATHWAYS
//   Show users pathways.
// --------------------------------------------------------------------------


.Pathway {
    background-color: palette(neutral);
    display: inline-block;
    padding: 6%;
    text-align: center;
    width: 100%;

    // When used with .Property's .Card
    // TOD: somehow refactor w/o min-height
    &.Card {
        min-height: rem(366);
        padding: 0 !important;
    }

    @include on-event() {
        background-color: palette(brand);
        color: palette(charcoal) !important;
    }

    @include respond-to(sm) {
        padding: space(2.5);
    }
}

.Pathway-detail {
    width: 100%;
}

.Pathway-icon,
.Pathway-title {
    display: block;
    text-align: center;
}

.Pathway-icon {
    margin-bottom: space(0.25);
}

.Pathway-title {
    // @extend .u-linkBuriedTarget;
    @include headlineSm();
    font-family: $font-sans-xbold;
    margin-bottom: 0;
    text-align: center;
}
