i[class$="-dims"] {
	display: inline-block;
	margin-right: rem(5);
	position: relative;
    top: -2px;
    vertical-align: middle;
}

.svg-sprite--apf-logo {
	background: url(svg/sprite.css.svg) 0 0 no-repeat;
	background-size: cover;
}

.svg-sprite--apf-logo-dims {
	width: 242px;
	height: 60px;
}

.svg-sprite--apf-logo-sm-dims {
	width: 202px;
	height: 50px;
}

.svg-sprite--ic-about-grey {
	background: url(svg/sprite.css.svg) 29.357798165137616% 88.23529411764706% no-repeat;
}

.svg-sprite--ic-about-grey-dims {
	width: 24px;
	height: 24px;
}

.svg-sprite--ic-call-grey {
	background: url(svg/sprite.css.svg) 40.36697247706422% 88.23529411764706% no-repeat;
}

.svg-sprite--ic-call-grey-dims {
	width: 24px;
	height: 24px;
}

.svg-sprite--ic-call-white {
	background: url(svg/sprite.css.svg) 51.37614678899082% 88.23529411764706% no-repeat;
}

.svg-sprite--ic-call-white-dims {
	width: 24px;
	height: 24px;
}

.svg-sprite--ic-email-grey {
	background: url(svg/sprite.css.svg) 62.38532110091743% 88.23529411764706% no-repeat;
}

.svg-sprite--ic-email-grey-dims {
	width: 24px;
	height: 24px;
}

.svg-sprite--ic-email-white {
	background: url(svg/sprite.css.svg) 73.39449541284404% 88.23529411764706% no-repeat;
}

.svg-sprite--ic-email-white-dims {
	width: 24px;
	height: 24px;
}

.svg-sprite--ic-social-fb-grey {
	background: url(svg/sprite.css.svg) 0 100% no-repeat;
}

.svg-sprite--ic-social-fb-grey-dims {
	width: 32px;
	height: 32px;
}

.svg-sprite--ic-social-li-grey {
	background: url(svg/sprite.css.svg) 15.238095238095237% 100% no-repeat;
}

.svg-sprite--ic-social-li-grey-dims {
	width: 32px;
	height: 32px;
}

.svg-sprite--ic-talk-blue {
	background: url(svg/sprite.css.svg) 84.40366972477064% 88.23529411764706% no-repeat;
}

.svg-sprite--ic-talk-blue-dims {
	width: 24px;
	height: 24px;
}

.svg-sprite--ic-talk-rev {
	background: url(svg/sprite.css.svg) 95.41284403669725% 88.23529411764706% no-repeat;
}

.svg-sprite--ic-talk-rev-dims {
	width: 24px;
	height: 24px;
}
