{% comment %}
    {% assign author = site.tag.author or s'thing… %}
{% endcomment %}

{% assign profile          = site.pages.about.pages.profile-therese %}
{% assign profile-contact  = site.pages.about.pages.profile-therese %}

<div class="Grid Author u-flexAlignItemsStretch {% if post %}u-marginT3{% endif %}">
    <div class="Grid-cell u-posRelative {% if home? %}u-xs-size5of12{% else %}u-xs-size6of12{% endif %}">
        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('{{ profile.picture }}')"></div>
    </div>
    <div class="Grid-cell u-xs-size6of12 Author-details {% if home? %}u-alignBlockUp{% endif %}">
        <a href="/about" class="u-linkBuried {% if home? %}u-colorBlackBlock{% endif %}">
            <h3 class="Headline--tertiary u-marginB0">{{ profile.summary | truncatewords: 20 }}{% if profile.position %}, {{ profile.position }}{% endif %}</h3>
            <p class="">{{ profile.summary | truncatewords: 20 }}<span class="u-linkBuriedTarget Arrow-right">Read</span></p>
        </a>
        <ul class="u-listClean u-marginB0">
            {% if home? %}
                <li>Contact the Team:</li>
                {% include 'includes/profile-contact' %}
            {% else %}
                <a class="u-linkHot Arrow-right" href="#">View all {{ profile.name | first }}'s posts</a>
            {% endif %}
        </ul>

    </div>
</div>
