<div class="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="Modal-dialog" role="document">
        <div class="Modal-content">
            <button type="button" class="Button--close u-mxs-hide" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                <span class="Button--close-label">Close</span>
            </button>
            <h1 class="modal-title Headline Headline--highlight" id="myModalLabel"><span>Book a free consultation</span></h1>
            <div class="u-xs-size10of12 Grid-cell--center">
                <form class="Form" accept-charset="UTF-8" action="https://formkeep.com/f/f7a4b50755db" method="POST">
                    <div class="Form-group">
                        <label id="" for="email">Your email:</label>
                        <input class="form-control required email" id="" type="email" value="" name="EMAIL" placeholder="" required>
                    </div>
                    <!-- <input class="" type="email" name="email" placeholder="Your email:"> -->

                    <div class="Form-group">
                        <label id="" for="telephone">Your phone number:*</label>
                        <input class="form-control required email" id="" type="telephone" value="" name="phone" placeholder="" required>
                    </div>
                    <!-- <input class="" type="telephone" name="phone" placeholder="Your phone number:*"> -->
                    <p class="TextSm u-colorTextMedium u-textRight u-marginB0">*If you’d prefer a call back</p>

                    <div class="Form-group">
                        <label id="" for="telephone">Describe your goals:</label>
                        <textarea name="tell-us-about-your-project" placeholder="" rows="4"></textarea>
                    </div>
                    <!-- <textarea name="tell-us-about-your-project" placeholder="Describe your goals:" rows='3'></textarea> -->
                    <input type="hidden" name="utf8" value="✓">

                    <div class="u-textRight u-marginT">
                        <button class="Button Button--invisible u-colorTextMedium u-marginRD1" data-dismiss="modal">Cancel</button>
                        <button class="Button Button--sm Button--highlight" type="submit" style="min-width:150px">Send</button>
                    </div>
                    <!-- <div class="u-flex u-textRight u-marginT">
                        <span class="u-mxs-block u-mxs-textCenter">
                            <button class="Button Button--invisible u-colorTextMedium u-marginRD1" data-dismiss="modal">Cancel</button>
                        </span>
                        <span class="u-mxs-block u-mxs-fullWidth u-mxs-flexOrderFirst">
                            <button class="Button Button--sm Button--highlight" type="submit">Send</button>
                        </span>
                    </div> -->
                </form>
            </div>

        </div>
    </div>
</div>

<!-- https://gist.github.com/sskylar/2b4bc5863c8387ece293 -->
<form action="//formspree.io/{{ site.meta.contact_email }}" method="POST">
    <input type="email" name="_replyto" placeholder="Your email">
    <textarea name="message" rows="5" placeholder="Your message"></textarea>
    <input type="submit" value="Send">
</form>
