<footer class="Footer" role="contentinfo">
	<div class="Container DivRule--light">
		<div class="Grid Grid--withGutter u-marginTD2 u-marginBD2 u-xs-marginB">
			<div class="Grid-cell u-size10of12 u-xs-size11of12 u-sm-size9of12">

				<div class="Grid Grid--withGutter">
					<div class="Grid-cell u-xs-size3of12">
						<ul class="u-listClean u-colorMutedBlock">
							<li><a href="/for-sale">For sale</a></li>
							<li><a href="/recent-sales">Recent sales</a></li>
							<li><a href="/blog/tags/suburb+profiles">Suburb profiles</a></li>
							<li><a href="/appraisal">Get an appraisal</a></li>
						</ul>
					</div>
					<div class="Grid-cell u-xs-size3of12">
						<ul class="u-listClean u-colorMutedBlock">
							<li><a href="/about">About Therese Plath</a></li>
							<li><a href="/about">About Team Plath</a></li>
							<li><a href="/blog">Blog</a></li>
							<li><a href="/contact">Contact us</a></li>
						</ul>
					</div>
					<div class="Grid-cell u-xs-size3of12 u-mxs-flexOrderLast">
						<a class="u-block u-colorMuted" href="https://goo.gl/maps/2zMyimBTydy" target="_blank">
							Therese Plath Ray White<br>
							151 Bruce Highway<br>
							Edmonton Qld 4869<br>
							Australia
						</a>
					</div>
					<div class="Grid-cell u-xs-size3of12">
						<ul class="u-listClean u-colorMutedBlock">
							<li>Get in touch:</li>
							{% assign profile = site.profiles | where: 'title', 'Team' | first %}
							{% include profile-contact.html %}
						</ul>
					</div>

				</div>
			</div>

			<div class="Grid-cell u-sm-size3of12 u-md-before1of12 u-md-size2of12 u-msm-marginTD1 u-msm-marginBD1">
				<a href="#">
					<img class="Img--ray" src="/build/images/rwlogo-grey-475.png" alt="Ray White Real Estate">
					<img class="Img--elite" src="/build/images/elite-performer-2015.jpg" alt="Elite Performer 2015" width="119">
				</a>
			</div>

			<div class="Grid-cell u-marginTD3">
				<ul class="u-listInline u-textXsBlock u-colorMutedBlock">
					<li>© 2016 Therese Plath</li>
					<li><a href="https://www.raywhite.com/legal-information/">Legal</a></li>
					<li><a href="https://www.raywhite.com/franchisee-privacy-policy/">Privacy</a></li>
					<li><a href="https://www.raywhite.com/website-terms-of-use/">Terms of use</a></li>
					<li><a href="http://www.patternworks.com.au">Site by Patternworks</a></li>
				</ul>
			</div>

		</div>
	</div>

</footer>
