<header class="Header Header--fixed" role="banner">
	<div class="Container">
		<div class="u-cf">
			<button class="navbar-toggler u-floatRight" type="button" data-modal-toggle>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="Header-logo" href="/">Therese Plath</a>

			{% if page.title == 'Home' %}
				&nbsp;
			{% elsif page.title == 'For sale' %}
				<a class="Header-title" href="/for-sale">{{ page.title }}</a>
			{% elsif page.title == 'Recent sales' %}
				<a class="Header-title" href="/recent-sales">{{ page.title }}</a>
			{% elsif page.header == 'Blog' %}
				<a class="Header-title" href="/blog">{{ page.header }}</a>
			{% elsif page.title != 'Home' %}
				<a class="Header-title" href="{{ page.slug }}">{{ page.title }}</a>
			{% endif %}

		</div>
	</div>
</header>
