<a class="gallery-cell" href="{{post.url}}">
    <div class="FlexEmbed">
        <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
        <div class="FlexEmbed-content">
            <div class="u-posAbsoluteCenter CoverImage CoverImage--hint" style="background-image: url('/build/images/hero.jpg')"></div>
            <div class="Container u-fullHeight">
                <div class="Grid Grid--withGutter u-fullHeight u-flex u-flexAlignItemsEnd">
                    <div class="Grid-cell u-textCenter">
                        <div class="Hero-details">
                            <span class="Property-address">Lot 8, Woods Circuit, Kewarra Beach 4870</span>
                            <span>•</span>
                            <span class="Property-price">High $800s</span>
                            <span>•</span>
                            <span class="Property-config">
                                <span class="Property-bedroooms">3</span>
                                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
                                </svg>
                                <span class="Property-bathrooms">1</span>
                                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                                </svg>
                                <span class="Property-carspaces">2</span>
                                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
