<div class="Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-modal>
    <div class="Modal-dialog" role="document">
        <div class="Modal-content">
            <nav class="Nav">
                <a class="Header-logo" href="/">Therese Plath</a>
                <ul class="Nav-list">
                    <li><a class="Headline" href="/for-sale">For sale</a></li>
                    <li><a class="Headline" href="#">Recent sales</a></li>
                    <li><a class="Headline" href="/about">Team Plath</a></li>
                    <li><a class="Headline" href="#">Testimonials</a></li>
                    <li><a class="Headline" href="/blog">Blog</a></li>
                    <div class="u-marginTD3">&nbsp;</div>
                    <li><a class="Headline--sm" href="/appraisal">Get an appraisal</a></li>
                    <li><a class="Headline--sm" href="/blog/tags/Suburb+profiles/">Suburb profiles</a></li>
                    <li><a class="Headline--sm" href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
