{% assign accountaction = "//thereseplath.us13.list-manage.com/subscribe/post?u=739403c9a5c72ae609b84e16b&amp;id=bdddcdbef7" %}
{% assign accountname   = "b_739403c9a5c72ae609b84e16b_bdddcdbef7" %}

<div id="mc_embed_signup" class="">
	<form action="{{ accountaction }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div id="mc_embed_signup_scroll">
			<div class="mc-field-group">
				<div class="Form--capsule">
					<div class="Form-group u-size8of12 u-marginBD2 u-xs-marginB0">
						<label for="mce-EMAIL">Add your email</label>
						<input class="Form-control required email" id="mce-EMAIL" type="email" value="" name="EMAIL" placeholder="" required>
						<div style="position: absolute; left: -5000px;"><input type="text" name="{{ accountname }}" tabindex="-1" value=""/></div>
					</div>
					<div class="Form-group u-xs-size4of12">
						<input class="Button Button--rev form-control" id="mc-embedded-subscribe" type="submit" value="Subscribe" name="subscribe">
					</div>
				</div>

			</div>
		</div>
	</form>
</div>
