<section class="Section">
    <div class="Container">
        <div class="u-well--lg u-bgNeutral u-sm-size8of12 Grid-cell--center">
            <figure class="Figure Figure--topRounded">
                <img src="{{ image-path }}pier-desaturated.png" alt="Get great wealth-building advice">
            </figure>
            <div class="u-textCenterBlock u-size11of12 u-sm-size10of12 Grid-cell--center u-paddingBD2 u-sm-paddingB15">
                <h4 class="Headline Headline--highlight u-colorBrandAlt u-marginT u-xs-marginT15 u-marginBD2">Seeking great Home Loan advice?</h4>
                <p class="u-colorTextMedium">Sign up to Michael's ‘Home Loan Tips’ to receive regular, simple and actionable tips, nothing more, nothing less.</p>
            </div>
            {% include 'includes/newsletter-form' %}
        </div>
        <p class="TextSm u-colorTextLight u-textCenter u-marginTD1 u-xs-marginT">We respect your privacy. Your details will never be shared with a third party.</p>
    </div>
</section>
