{% comment %}
    This include requires assigning a variable for the "profile-card" include.
    e.g. {% assign profile-contact  = site.pages.about.pages.profile-therese %}
    Another idea: {% assign author = site.tag.author or s'thing… %}
{% endcomment %}

{% if post.author == 'Therese Plath' %}
    {% assign profile = site.pages.about.pages.profile-therese %}
{% else %}
    {% assign profile = site.pages.about.pages.profile-2 %}
{% endif %}

<!-- <p>{{ post.author }}</p>
<p>{{ profile.meta.name }}</p> -->

<article class="Post">
    <section class="Section u-marginT0 u-marginB2 u-bgBrandAlt">
        <div class="Container">

            {% if post.meta.youtube %}
            <figure class="">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <iframe src="https://www.youtube.com/embed/{{ post.meta.youtube }}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                    </div>
                </div>
            </figure>
            {% elsif post.meta.hero %}
            <figure class="">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('{{ post.assets.first }}')"></div>
                    </div>
                </div>
            </figure>
            {% endif %}

        </div>
    </section>

    <div class="Container">
        <div class="Grid Grid--withGutter">
            <div class="Grid-cell u-size4of12 u-paddingR2 u-md-display">
                <h1 class="Post-title">{{ post.title }}</h1>
                <p class="u-textLg">{{ post.meta.summary }}</p>

                <div class="DivRule u-marginT2"></div>
                <h3 class="Headline--tertiary">Share this post</h3>
                {% include 'includes/share' %}

                <div class="DivRule u-marginT2"></div>
                <h3 class="Headline--tertiary">Get posts by email</h3>
                {% include 'includes/newsletter-form' %}
            </div>

            <div class="Grid-cell u-md-size6of12 u-after2of12 u-alignBlockDown">
                {{ post.body }}
                {% include 'includes/profile-card' %}
            </div>
        </div>

        <section class="Section">
            <div class="Container DivRule">
                <a href="{{ site.pages.blog.url }}">
                    <h1 class="Headline Arrow-right">View all posts</h1>
                </a>
                <div class="Grid">
                    {% if previous %}
                        <div class="Grid-cell u-xs-size1of2">
                            <a class="Post" href="{{ post.previous.url }}">
                                <figure class="Post-image--dark">
                                    <div class="FlexEmbed">
                                        <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9 u-bgDark"></div>
                                        <div class="FlexEmbed-content CoverImage" style="background-image: url('{{ post.previous.assets.first }}')"></div>
                                        <div class="FlexEmbed-content">
                                            <h1 class="Post-headline Post-headline--right Arrow-left">{{ post.previous.title }}</h1>
                                        </div>
                                    </div>
                                </figure>
                            </a>
                        </div>
                    {% endif %}
                    {% if next %}
                    <div class="Grid-cell u-xs-size1of2">
                        <a class="Post" href="{{ post.next.url }}">
                            <figure class="Post-image--dark">
                                <div class="FlexEmbed">
                                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9 u-bgDark"></div>
                                    <div class="FlexEmbed-content CoverImage" style="background-image: url('{{ post.next.assets.first }}')"></div>
                                    <div class="FlexEmbed-content">
                                        <h1 class="Post-headline Arrow-right">{{ post.next.title }}</h1>
                                    </div>
                                </div>
                            </figure>
                        </a>
                    </div>
                    {% endif %}

                </div>
            </div>
        </section>

    </div>
</article>
