<div class="u-marginTD1">
    <a class="u-colorPanel" href="{{ site.social.links[0] }}">
        <svg class="Icon Icon--xl Icon--textAlign">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-sm-facebook"></use>
        </svg>
    </a>
    <a class="u-colorPanel" href="{{ site.social.links[1] }}">
        <svg class="Icon Icon--xl Icon--right Icon--textAlign">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-sm-instagram"></use>
        </svg>
    </a>
    <a class="u-colorPanel" href="{{ site.social.links[2] }}">
        <svg class="Icon Icon--xl Icon--right Icon--textAlign">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-sm-linkedin"></use>
        </svg>
    </a>
</div>
