{% comment %}
    This include requires assigning a variable for {{ profile }}
    e.g. {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
{% endcomment %}

<div class="Grid Author u-flexAlignItemsStretch {% if page.categories %}u-marginT25{% endif %}">
    <div class="Grid-cell u-posRelative {% if page.url == '/' %}u-xs-size5of12{% else %}u-xs-size6of12{% endif %}">
        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('{{ profile.picture }}')"></div>
    </div>
    <div class="Grid-cell u-xs-size6of12 Author-details">
        <a href="/about" class="u-linkBuried {% if home? %}u-colorBlackBlock{% endif %}">
            <h3 class="Headline--tertiary u-marginB0">
                {% if page.url contains 'blog' %}Written by {% endif %}
                {{ profile.name }}{% if profile.jobtitle %}, {{ profile.jobtitle }}{% endif %}
            </h3>
            <p class="">
                {{ profile.summary | truncatewords: 15 }}
                <span class="u-linkBuriedTarget Arrow-right">Read</span>
            </p>
        </a>
        <ul class="u-listClean u-marginB0">
            {% if type == 'post' %}
                <a class="u-linkHot Arrow-right" href="#">View all {{ post.author.firstname }}'s posts</a>
                <a class="u-linkHot Arrow-right" href="#">View all {{ profile.name }}'s posts</a>
            {% else %}
                <li>Contact:</li>
                {% include profile-contact.html %}
            {% endif %}
        </ul>
    </div>
</div>
