<div class="Grid-cell u-size1of2 u-xs-size1of3">
    <a class="Property Card" href="/for-sale/view">
        <div class="Property-image" style="background-image: url('/build/images/property-list.jpg')"></div>

        <div class="Property-details">
            <h1 class="Property-details--title Arrow-right u-marginB0">Kewarra Beach</h1>
            <p class="Property-details--location">Lot 8, Woods Circuit </p>
            <p class="Property-details--price">High $800s</p>

            <p class="Property-config u-marginTD6">
                <span class="Property-bedroooms">3</span>
                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
                </svg>
                <span class="Property-bathrooms">1</span>
                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                </svg>
                <span class="Property-carspaces">2</span>
                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                </svg>
            </p>

        </div>
    </a>
</div>