<div class="">

    {% capture caption %} {{ title }} {{ meta['hero-byline' ]}} {% endcapture %}
    {% assign myurl = {{url | prepend: 'http://www.thereseplath.com.au' }} %}

    <a class="" href="https://www.facebook.com/dialog/share?app_id=504840559704298&display=popup&href={{ permalink }}&redirect_uri={{ site.permalink }}" >
        <svg class="Icon Icon--lg Icon--textAlign">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-sm-facebook"></use>
        </svg>
    </a>
    <a class="" href="mailto:?subject=Check out this article from {{ site.meta.title }}&body={{ caption }} {{ permalink }}" target="_blank">
        <svg class="Icon Icon--lg Icon--right Icon--textAlign">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-sm-email"></use>
        </svg>
    </a>

    <!-- <a class="" href="https://twitter.com/intent/tweet?source=&text={{ caption }}&url={{ permalink }}" target="_blank">
        <svg class="ic-sm-twitter" viewBox="0 0 44 44"><use xlink:href="#ic-sm-twitter"></use></svg>
    </a> -->
    <!-- <a class="" href="http://www.linkedin.com/shareArticle?mini=true&url={{ permalink }}&title={{ title }}&summary={{ caption }}&source={{ permalink }}" target="_blank">
        <svg class="ic-sm-linkedin" viewBox="0 0 44 44"><use xlink:href="#ic-sm-linkedin"></use></svg>
    </a> -->
</div>
