{% comment %}
	* See: http://www.ericmobley.net/social-media-share-buttons-impact-on-performance/
	* Also, fb could be: href="https://www.facebook.com/dialog/share?app_id=APP_ID&display=popup&href={{ permalink }}&redirect_uri={{ site.permalink }}
	* To register w/ fb: https://www.facebook.com/login.php?next=https%3A%2F%2Fdevelopers.facebook.com%2Fapps
	* More refs: https://developers.facebook.com/docs/javascript/quickstart/v2.5
{% endcomment %}

{% assign sitedomain = 'http://www.thereseplath.com.au' %}

<div class="">
	<a class="u-colorPanel" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: sitedomain }}">
		<svg class="Icon Icon--xl Icon--textAlign">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-sm-facebook"></use>
		</svg>
	</a>
	<a class="u-colorPanel" href="mailto:?subject=Check out this article from {{ site.title }}&body={{ page.caption }} …at: {{ page.url | prepend: sitedomain }}" target="_blank">
		<svg class="Icon Icon--xl Icon--right Icon--textAlign">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-sm-email"></use>
		</svg>
	</a>
</div>
