<a class="gallery-cell u-marginBD2" href="{{post.url}}">
    <p class="u-textLg u-textCenter">
        I could not speak more highly of these amazing 3 women. They are truly miracle makers!! I would not go past Ray White Cairns Central for either selling; buying or renting your home. — Sharon, Bentley Park
        <svg class="Icon Icon--rightSm Icon--textLgAlign">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-open-in-new"></use>
        </svg>
    </p>
</a>
