---
title: For sale
layout: default
---

					{% comment %}
						This include requires assigning a variable for {{ profile }}
						e.g. {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
					{% endcomment %}

					{% assign profile = site.profiles | where: 'title', 'Therese' | first %}

					<article class="Property">
						<section class="Hero u-marginB2">
							<div class="gallery">
								<div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/17995-1.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/23340-2.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/30853-3.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/18087-4.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/23442-5.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/25978-6.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/18148-7.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/30985-8.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1342-9.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/15205-10.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/18281-11.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/23663-12.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/26232-13.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/15351-14.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/26336-15.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1678-16.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/23877-17.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/23913-18.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/26467-19.jpg')"></div>
					</div>
				</div>
			</div>
							</div>
						</section>

						<div class="Container">
							<div class="Grid Grid--withGutter">
								<div class="Grid-cell u-xs-size4of12 u-paddingR2 u-alignBlockDown">
									<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAql2kulp165ryrd2TH0vG6CPkkB2-u4FY&q=-16.9963661,145.7281086" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

									<div class="DivRule--light u-marginT"></div>
									<h3 class="Headline--tertiary">Share this property</h3>
									{% include share.html %}

								</div>

								<div class="Grid-cell u-xs-size8of12">
									<h1 class="Property-title">Residential property at MOUNT SHERIDAN on a 747m<sub>2</sub></h1>
									<p class="Property-price">Low $500,000</p>

									<div class="DivRule u-marginT15"></div>
									<p class="Property-address">
										44 Mayflower Street, MOUNT SHERIDAN
										<span class="Property-config u-marginLD3">
											<span class="Property-bedroooms">4</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
											</svg>
											<span class="Property-bathrooms">2</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
											</svg>
											<span class="Property-carspaces">2</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
											</svg>
										</span>
									</p>
									<p class="Property-area">Land area: 747m<sub>2</sub></p>
									<p class="Property-id">Property ID: CSS10019562</p>

									<!-- <div class="DivRule u-marginT15"></div> -->


									<div class="DivRule--light u-marginT15"></div>

									<div class="Grid Grid--withGutter u-marginT">
										<div class="Grid-cell u-sm-size9of12">

											<p>Therese Plath is excited to present to the market this perfectly perched elevated family home in Upper Mount Sheridan, which captures all the summer breezes and boasts magical views.</p>
<p>Surrender yourself to a true representation of family living maximising its elevated position, capturing fabulous views and offers a secure and private existence.  An abundance of natural light and fresh breezes compliments this modern home which has quality fixtures and fittings throughout.  </p>
<p>First class finishes, and neutral tones, complement the exceptionally well planned floor layout to create a comfortable abode.  Built for the entertainer and perfect for your family, take advantage of the air-conditioned open plan living areas.</p>
<p>The main living and dining area incorporates the fabulous and impressive gourmet entertainers' kitchen with corner pantry superbly appointed with first class stainless steel appliances with wide fridge space, stone bench tops, glass splash back and banks of cupboard and storage spaces and effortlessly opens out to a delightful elevated alfresco area with direct access to the tiled entertaining patio and sparkling pool.</p>
<p>All four bedrooms are spacious, carpeted and air-conditioned with the master bedroom having their very own 5m2 walk in robe and large en-suite with double shower and main bathroom with spa.</p>
<p>A catalogue of features include:</p>
<ul>
<li>Double remote lock up garage</li>
<li>5kw solar system</li>
<li>Security screens throughout</li>
<li>Internal laundry</li>
<li>Garden shed to rear</li>
</ul>
<p>Meticulously presented and truly one of the best positions in Mount Sheridan, just 10 minutes from Cairns city centre. </p>
<p>Swathed with style throughout the home in this prestigious location and surrounded by other quality built residences, only moments to Secondary and Primary Schools, transport and shopping.  For your inspection please call Therese Plath on 0418 772 995 or email therese.plath@raywhite.com</p>

											<div class="u-marginT2">
												{% include profile-card.html %}
											</div>

										</div>
									</div>
								</div>
							</div>

							<section class="Section">
								<div class="Container DivRule">
									<a href="/for-sale">
										<h1 class="Headline Arrow-right u-marginB15">More for sale</h1>
									</a>
									<div class="Grid Grid--withGutter">
										{% for current in site.data.current limit:2%}
										<div class="Grid-cell u-size1of2 u-xs-size1of3">
											<a class="Property Card" href="/for-sale/{{current.property_id}}.html">
												<div class="Property-image" style="background-image: url({{current.image}})"></div>

												<div class="Property-details">
													<h1 class="Property-details--title Arrow-right u-marginB0">{{current.address_suburb}}</h1>
													<p class="Property-details--location">{{current.address_street}}</p>
													<p class="Property-details--price">{{current.price}}</p>

													<p class="Property-config u-marginTD6">
														<span class="Property-bedroooms">{{current.bedrooms}}</span>
														<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
														</svg>
														<span class="Property-bathrooms">{{current.bathrooms}}</span>
														<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
														</svg>
														<span class="Property-carspaces">{{current.garage}}</span>
														<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
														</svg>
													</p>

												</div>
											</a>
										</div>
										{% endfor %}
										<div class="Grid-cell u-xs-size1of3">
											<a class="Pathway Card u-bgNeutral u-textCenter u-flex u-flexAlignItemsCenter" href="/for-sale">
												<div class="Pathway-detail">
													<span class="Pathway-icon">
														<svg class="Icon Icon--lg Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-for-sale"></use>
														</svg>
													</span>
													<span class="Pathway-title Arrow-right">Properties for sale</span>
												</div>
											</a>
										</div>

									</div>
								</div>
							</section>

						</div>
					</article>