---
title: For sale
layout: default
---

					{% comment %}
						This include requires assigning a variable for {{ profile }}
						e.g. {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
					{% endcomment %}

					{% assign profile = site.profiles | where: 'title', 'Therese' | first %}

					<article class="Property">
						<section class="Hero u-marginB2">
							<div class="gallery">
								<div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/20119-02.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/19398-03.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/2616-04.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/20091-01.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/19579-06.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/19409-05.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/2680-07.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/30987-08.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/20257-09.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/19797-10.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/20077-11.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/20330-14.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/2768-12.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/6466-13.jpg')"></div>
					</div>
				</div>
			</div>
							</div>
						</section>

						<div class="Container">
							<div class="Grid Grid--withGutter">
								<div class="Grid-cell u-xs-size4of12 u-paddingR2 u-alignBlockDown">
									<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAql2kulp165ryrd2TH0vG6CPkkB2-u4FY&q=-16.981325,145.7391708" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

									<div class="DivRule--light u-marginT"></div>
									<h3 class="Headline--tertiary">Share this property</h3>
									{% include share.html %}

								</div>

								<div class="Grid-cell u-xs-size8of12">
									<h1 class="Property-title">Residential property at MOUNT SHERIDAN on a 851m<sub>2</sub></h1>
									<p class="Property-price">High $400's Range</p>

									<div class="DivRule u-marginT15"></div>
									<p class="Property-address">
										11 Crosby Close, MOUNT SHERIDAN
										<span class="Property-config u-marginLD3">
											<span class="Property-bedroooms">4</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
											</svg>
											<span class="Property-bathrooms">2</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
											</svg>
											<span class="Property-carspaces">2</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
											</svg>
										</span>
									</p>
									<p class="Property-area">Land area: 851m<sub>2</sub></p>
									<p class="Property-id">Property ID: CSS10821145</p>

									<!-- <div class="DivRule u-marginT15"></div> -->


									<div class="DivRule--light u-marginT15"></div>

									<div class="Grid Grid--withGutter u-marginT">
										<div class="Grid-cell u-sm-size9of12">

											<p>Therese Plath proudly presents this fine residence tucked away in a peaceful close in Forest Gardens at Mount Sheridan, only 10 minutes to Cairns City and popular Esplanade.</p>
<p>This family oasis is private, solid and secure. Immaculate and well presented in this highly sought after location  enjoy the relaxed and calming atmosphere.</p>
<p>This light filled residence embraces an indoor-outdoor lifestyle, taking full advantage of the tropical garden setting. Double sliding doors flow onto an all-weather, undercover, tiled entertaining area which overlooks the large backyard providing an ideal venue for alfresco entertaining.</p>
<p>Upon entrance you are presented with two spacious, tiled living areas. The modern kitchen lies at the heart of this home with easy service to the dining room and spacious lounge area. It defines style and usability with quality appliances, extensive cabinetry and lots of storage spaces, providing a functional gourmet space for those who love to cook.</p>
<p>This is the perfect home for entertaining and modern family living. There is an abundance of large separate spaces to entertain with family and friends  a real treat in our glorious climate.</p>
<p>The master bedroom with large en-suite with double shower is a perfect escape from the children with three other bedrooms being so generous and comfortable with one of the rooms with the semi-en-suite.</p>
<p>Fully air-conditioned and security screened throughout, double remote garage and offering the new owners the lowest of maintenance care in the established gardens.</p>
<p>What a fantastic lifestyle opportunity  children could walk to schools and public transport nearby provides easy access to Cairns City 8kms away. Bonus is the shopping centre just three minutes away.</p>
<p>Living is so easy in this private residence located in an exclusive blue chip location.</p>
<p>We look forward to showing you  phone now for your inspection  Therese Plath 0418 772 995 or email Therese at therese.plath@raywhite.com</p>

											<div class="u-marginT2">
												{% include profile-card.html %}
											</div>

										</div>
									</div>
								</div>
							</div>

							<section class="Section">
								<div class="Container DivRule">
									<a href="/for-sale">
										<h1 class="Headline Arrow-right u-marginB15">More for sale</h1>
									</a>
									<div class="Grid Grid--withGutter">
										{% for current in site.data.current limit:2%}
										<div class="Grid-cell u-size1of2 u-xs-size1of3">
											<a class="Property Card" href="/for-sale/{{current.property_id}}.html">
												<div class="Property-image" style="background-image: url({{current.image}})"></div>

												<div class="Property-details">
													<h1 class="Property-details--title Arrow-right u-marginB0">{{current.address_suburb}}</h1>
													<p class="Property-details--location">{{current.address_street}}</p>
													<p class="Property-details--price">{{current.price}}</p>

													<p class="Property-config u-marginTD6">
														<span class="Property-bedroooms">{{current.bedrooms}}</span>
														<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
														</svg>
														<span class="Property-bathrooms">{{current.bathrooms}}</span>
														<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
														</svg>
														<span class="Property-carspaces">{{current.garage}}</span>
														<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
														</svg>
													</p>

												</div>
											</a>
										</div>
										{% endfor %}
										<div class="Grid-cell u-xs-size1of3">
											<a class="Pathway Card u-bgNeutral u-textCenter u-flex u-flexAlignItemsCenter" href="/for-sale">
												<div class="Pathway-detail">
													<span class="Pathway-icon">
														<svg class="Icon Icon--lg Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-for-sale"></use>
														</svg>
													</span>
													<span class="Pathway-title Arrow-right">Properties for sale</span>
												</div>
											</a>
										</div>

									</div>
								</div>
							</section>

						</div>
					</article>