---
title: For sale
layout: default
---

					{% comment %}
						This include requires assigning a variable for {{ profile }}
						e.g. {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
					{% endcomment %}

					{% assign profile = site.profiles | where: 'title', 'Therese' | first %}

					<article class="Property">
						<section class="Hero u-marginB2">
							<div class="gallery">
								<div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/30690-02.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/14442-03.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/25411-04.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/14476-05.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/24986-06.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/13142-07.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/14518-08.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/16056-09.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1395-01.jpg')"></div>
					</div>
				</div>
			</div>
							</div>
						</section>

						<div class="Container">
							<div class="Grid Grid--withGutter">
								<div class="Grid-cell u-xs-size4of12 u-paddingR2 u-alignBlockDown">
									<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAql2kulp165ryrd2TH0vG6CPkkB2-u4FY&q=-17.0251348,145.7247888" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

									<div class="DivRule--light u-marginT"></div>
									<h3 class="Headline--tertiary">Share this property</h3>
									{% include share.html %}

								</div>

								<div class="Grid-cell u-xs-size8of12">
									<h1 class="Property-title">Residential property at EDMONTON on a 758m<sub>2</sub></h1>
									<p class="Property-price">$369,000</p>

									<div class="DivRule u-marginT15"></div>
									<p class="Property-address">
										52 Canecutter Road, EDMONTON
										<span class="Property-config u-marginLD3">
											<span class="Property-bedroooms">4</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
											</svg>
											<span class="Property-bathrooms">2</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
											</svg>
											<span class="Property-carspaces">2</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
											</svg>
										</span>
									</p>
									<p class="Property-area">Land area: 758m<sub>2</sub></p>
									<p class="Property-id">Property ID: CSS10898206</p>

									<!-- <div class="DivRule u-marginT15"></div> -->


									<div class="DivRule--light u-marginT15"></div>

									<div class="Grid Grid--withGutter u-marginT">
										<div class="Grid-cell u-sm-size9of12">

											<p>Therese Plath presents this impressive family home positioned in the ever so popular suburb of Edmonton just 15 minutes south of Cairns City. </p>
<p>Offering low maintenance living and just moments from the quality schools, day care centre and the Edmonton shopping Centre, Coles Shopping Centre, medical and sporting plus the favourite Sugar World. Well positioned on a large 758m2 block with attractive landscaped gardens in a quiet area in a child friendly location with a wonderful aspect to the picturesque mountain backdrop.</p>
<p>From the moment you walk in you will appreciate the clever design which encompasses comfortable living areas.</p>
<p>There is a perfect balance between indoors and out with sliding doors opening out onto the outdoor patio creating a tranquil ambience.  </p>
<p>The kitchen features plenty of cupboards, ample work and storage space with huge walk in pantry, stainless steel appliances and includes the dishwasher.</p>
<p>This appealing offers four generously sized bedrooms with three serviced by the main bathroom, with bath, shower over bath and vanity and the spacious main bedroom offering the walk in robe and en-suite.</p>
<p>Other exceptional features include, double remote tiled garage, fully security screened and internal laundry.</p>
<p>All the hard work has been done with the exterior of the home being freshly painted. </p>
<p>Easy access through the garage door via roller door and no rear neighbours with gated access to the Council reserve bordering acreage properties.</p>
<p>Perfect for an easy conversion to a self contained granny flat or could be man cave shelving, fans and powered in this 2 bay wide with roller door an approximately 100m2 in area</p>
<p>A wonderful family lifestyle in this magnificent home.  Enjoy unparalleled value and comfort in this superbly maintained property in such a convenient location with safe fenced back yard  so ideal for young children and pets.</p>
<p>Just what you have been waiting for  This affordable home ready for your inspection and priced to sell at $369,000.  Call Therese Plath on 0418 772 995 or email therese.plath@raywhite.com</p>

											<div class="u-marginT2">
												{% include profile-card.html %}
											</div>

										</div>
									</div>
								</div>
							</div>

							<section class="Section">
								<div class="Container DivRule">
									<a href="/for-sale">
										<h1 class="Headline Arrow-right u-marginB15">More for sale</h1>
									</a>
									<div class="Grid Grid--withGutter">
										{% for current in site.data.current limit:2%}
										<div class="Grid-cell u-size1of2 u-xs-size1of3">
											<a class="Property Card" href="/for-sale/{{current.property_id}}.html">
												<div class="Property-image" style="background-image: url({{current.image}})"></div>

												<div class="Property-details">
													<h1 class="Property-details--title Arrow-right u-marginB0">{{current.address_suburb}}</h1>
													<p class="Property-details--location">{{current.address_street}}</p>
													<p class="Property-details--price">{{current.price}}</p>

													<p class="Property-config u-marginTD6">
														<span class="Property-bedroooms">{{current.bedrooms}}</span>
														<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
														</svg>
														<span class="Property-bathrooms">{{current.bathrooms}}</span>
														<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
														</svg>
														<span class="Property-carspaces">{{current.garage}}</span>
														<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
														</svg>
													</p>

												</div>
											</a>
										</div>
										{% endfor %}
										<div class="Grid-cell u-xs-size1of3">
											<a class="Pathway Card u-bgNeutral u-textCenter u-flex u-flexAlignItemsCenter" href="/for-sale">
												<div class="Pathway-detail">
													<span class="Pathway-icon">
														<svg class="Icon Icon--lg Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-for-sale"></use>
														</svg>
													</span>
													<span class="Pathway-title Arrow-right">Properties for sale</span>
												</div>
											</a>
										</div>

									</div>
								</div>
							</section>

						</div>
					</article>