---
title: For sale
layout: default
---

					{% comment %}
						This include requires assigning a variable for {{ profile }}
						e.g. {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
					{% endcomment %}

					{% assign profile = site.profiles | where: 'title', 'Therese' | first %}

					<article class="Property">
						<section class="Hero u-marginB2">
							<div class="gallery">
								<div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427859323-14102-property_map.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855545-5643-2.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855580-5991-IMG_0108.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855547-5665-3.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855559-5766-IMG_0082.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855586-6055-IMG_0115.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1428928621-7112-IMG_0061.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855549-5683-IMG_0059.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855574-5925-IMG_0103.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855562-5792-IMG_0084.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855551-5701-IMG_0062.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855568-5860-IMG_0088.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855570-5885-IMG_0096.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1428928558-24241-IMG_0076.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855572-5908-IMG_0097.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855578-5971-IMG_0106.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855564-5820-IMG_0085.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855566-28243-IMG_0086.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855555-5729-IMG_0077.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855576-5950-IMG_0105.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855557-5745-IMG_0078.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855584-6030-IMG_0114.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855588-28339-IMG_0117.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1427855589-28352-IMG_0118.JPG')"></div>
					</div>
				</div>
			</div>
							</div>
						</section>

						<div class="Container">
							<div class="Grid Grid--withGutter">
								<div class="Grid-cell u-xs-size4of12 u-paddingR2 u-alignBlockDown">
									<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAql2kulp165ryrd2TH0vG6CPkkB2-u4FY&q=-17.00532,145.732371" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

									<div class="DivRule--light u-marginT"></div>
									<h3 class="Headline--tertiary">Share this property</h3>
									{% include share.html %}

								</div>

								<div class="Grid-cell u-xs-size8of12">
									<h1 class="Property-title">Residential property at CAIRNS on a 12m<sub>2</sub></h1>
									<p class="Property-price">Offers are invited</p>

									<div class="DivRule u-marginT15"></div>
									<p class="Property-address">
										CAIRNS
										<span class="Property-config u-marginLD3">
											<span class="Property-bedroooms">4</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
											</svg>
											<span class="Property-bathrooms">2</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
											</svg>
											<span class="Property-carspaces">2</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
											</svg>
										</span>
									</p>
									<p class="Property-area">Land area: 12m<sub>2</sub></p>
									<p class="Property-id">Property ID: CSS7973007</p>

									<!-- <div class="DivRule u-marginT15"></div> -->


									<div class="DivRule--light u-marginT15"></div>

									<div class="Grid Grid--withGutter u-marginT">
										<div class="Grid-cell u-sm-size9of12">

											<p>This fish farm was established in 1990 and relocated just 10 minutes south of Innisfail in 2000. This business would suit a family who would like to work from home and earn a good income. The business supply a variety of species and hold a current DPI aquaculture licence. The owners have spent a lot of time getting everything right, so all you need to do is walk in, as the setup has been done for you and connection to customers  are ready established. The fish are sold mainly to wholesalers all over the country. The owners are planning on retiring in the near future.
Some of the features are:
12 Hectare (Approx 30 acres)
Lowset 4 bedroom air-condition home with ensuite to the main
50m x 20m growing shed
9m x 48m breeding shed
Spawning area
Shipping area
2 Deep freezes
Van   Mercedes  Vito diesel long veal base
3 phase power (60 amp per phase)
Generator 30 KVA  Automatic start
Kubota 65Hp tractor and slasher
John Deere diesel 7500 ride on mower.
3 compressors
4 Bores  (average 20,000lt per hour)
2 x 50m x 20m lined HDPE ponds
8m x 50m tunnel
Small creek
Commercial Demand electricity Tariff 44
DPI Aquaculture Licence
Call Sharon Vyner on 0417 778 606</p>

											<div class="u-marginT2">
												{% include profile-card.html %}
											</div>

										</div>
									</div>
								</div>
							</div>

							<section class="Section">
								<div class="Container DivRule">
									<a href="/for-sale">
										<h1 class="Headline Arrow-right u-marginB15">More for sale</h1>
									</a>
									<div class="Grid Grid--withGutter">
										{% for current in site.data.current limit:2%}
										<div class="Grid-cell u-size1of2 u-xs-size1of3">
											<a class="Property Card" href="/for-sale/{{current.property_id}}.html">
												<div class="Property-image" style="background-image: url({{current.image}})"></div>

												<div class="Property-details">
													<h1 class="Property-details--title Arrow-right u-marginB0">{{current.address_suburb}}</h1>
													<p class="Property-details--location">{{current.address_street}}</p>
													<p class="Property-details--price">{{current.price}}</p>

													<p class="Property-config u-marginTD6">
														<span class="Property-bedroooms">{{current.bedrooms}}</span>
														<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
														</svg>
														<span class="Property-bathrooms">{{current.bathrooms}}</span>
														<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
														</svg>
														<span class="Property-carspaces">{{current.garage}}</span>
														<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
														</svg>
													</p>

												</div>
											</a>
										</div>
										{% endfor %}
										<div class="Grid-cell u-xs-size1of3">
											<a class="Pathway Card u-bgNeutral u-textCenter u-flex u-flexAlignItemsCenter" href="/for-sale">
												<div class="Pathway-detail">
													<span class="Pathway-icon">
														<svg class="Icon Icon--lg Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-for-sale"></use>
														</svg>
													</span>
													<span class="Pathway-title Arrow-right">Properties for sale</span>
												</div>
											</a>
										</div>

									</div>
								</div>
							</section>

						</div>
					</article>