---
title: For sale
layout: default
---

                    {% comment %}
                        This include requires assigning a variable for {{ profile }}
                        e.g. {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
                    {% endcomment %}
                    
                    {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
                    
                    <article class="Property">
                        <section class="Hero u-marginB2">
                            <div class="gallery">
                                <div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1456876911-11929-Photo-22.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1456877023-14750-Photo-132.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1456876921-14177-Photo-32.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1456877013-14710-Photo-122.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1456877000-14621-Photo-112.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1456876978-14504-Photo-92.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1456876987-14529-Photo-102.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1456877050-12462-Photo-162.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1456877060-12501-Photo-172.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1456877041-14829-Photo-152.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1456877032-12402-Photo-142.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1456876891-13906-Photo-182.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1456876940-14316-Photo-52.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1456876958-12170-Photo-72.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1456876949-12125-Photo-62.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1456876968-12207-Photo-82.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1456876930-14260-Photo-42.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1459840793-5843-Easter160801280x852.jpg')"></div>
                    </div>
                </div>
            </div>
                            </div>
                        </section>
                    
                        <div class="Container">
                            <div class="Grid Grid--withGutter">
                                <div class="Grid-cell u-xs-size4of12 u-paddingR2 u-alignBlockDown">
                                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAql2kulp165ryrd2TH0vG6CPkkB2-u4FY&q=-16.963149,145.729023" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    
                                    <div class="DivRule--light u-marginT"></div>
                                    <h3 class="Headline--tertiary">Share this property</h3>
                                    {% include share.html %}
                                    
                                </div>
                    
                                <div class="Grid-cell u-xs-size8of12">
                                    <h1 class="Property-title">Residential property at BAYVIEW HEIGHTS on a1052 m<sub>2</sub></h1>
                                    <p class="Property-price">$485,000 Neg</p>
                    
                                    <div class="DivRule u-marginT15"></div>
                                    <p class="Property-address">
                                        9, Fiesta Close, BAYVIEW HEIGHTS
                                        <span class="Property-config u-marginLD3">
                                            <span class="Property-bedroooms">5</span>
                                            <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
                                            </svg>
                                            <span class="Property-bathrooms">2</span>
                                            <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                                            </svg>
                                            <span class="Property-carspaces">2</span>
                                            <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                                            </svg>
                                        </span>
                                    </p>
                                    <p class="Property-area">Land area: 1052 m<sub>2</sub></p>
                                    <p class="Property-id">Property ID CSS9369477</p>
                    
                                    <!-- <div class="DivRule u-marginT15"></div> -->
                    
                    
                                    <div class="DivRule--light u-marginT15"></div>
                    
                                    <div class="Grid Grid--withGutter u-marginT">
                                        <div class="Grid-cell u-sm-size9of12">
                    
                                            <p><p></p><p>Spread across two levels and occupying a large 1,052m2 block complete with 3m side access, huge park to the rear and a quiet close, there is no doubt this home represents exceptional value... The clever floor plan provides space and separation, with 5 bedrooms, the main with ensuite and his / her builtins. .

- Fresh interior 
- Internal staircase
- External staircase

Upstairs - 3 bedrooms, 2 bathrooms, open plan living, Retro Style kitchen & combined dining, extra storage cupboards. There is a front verandah for relaxing and enjoying the cool breezes and city lights by night. 
( City & Water Glimpses ).

The main living zone is also air conditioned for those warmer summer evenings...

Downstairs - 2 bedrooms, bathroom with toilet & vanity, large living area with beautiful polished concrete flooring, internal laundry, huge garage with extra storage area and rear yard access... The lower level is great space for the older kids or when family and friends come to stay...

- 1,052m2 block with 3m side access & rear access
- Space for a shed and pool
- Great park for the kids to play
- Quiet close

There's no doubt this house is selling now...

For More Information Or Your Private Inspection

Call Brian Bolton Today on 0402 440 098</p>
                    
                                            <div class="u-marginT2">
                                                {% include profile-card.html %}
                                            </div>
                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <section class="Section">
                                <div class="Container DivRule">
                                    <a href="/for-sale">
                                        <h1 class="Headline Arrow-right u-marginB15">More for sale</h1>
                                    </a>
                                    <div class="Grid Grid--withGutter">
                                        {% for current in site.data.current limit:2%}
<div class="Grid-cell u-size1of2 u-xs-size1of3">
    <a class="Property Card" href="/for-sale/{{current.property_id}}.html">
        <div class="Property-image" style="background-image: url({{current.image}})"></div>

        <div class="Property-details">
            <h1 class="Property-details--title Arrow-right u-marginB0">{{current.address_suburb}}</h1>
            <p class="Property-details--location">{{current.address_street}}</p>
            <p class="Property-details--price">{{current.price}}</p>

            <p class="Property-config u-marginTD6">
                <span class="Property-bedroooms">{{current.bedrooms}}</span>
                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
                </svg>
                <span class="Property-bathrooms">{{current.bathrooms}}</span>
                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                </svg>
                <span class="Property-carspaces">{{current.garage}}</span>
                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                </svg>
            </p>

        </div>
    </a>
</div>
{% endfor %}
                                        <div class="Grid-cell u-xs-size1of3">
                                            <a class="Pathway Card u-bgNeutral u-textCenter u-flex u-flexAlignItemsCenter" href="/for-sale">
                                                <div class="Pathway-detail">
                                                    <span class="Pathway-icon">
                                                        <svg class="Icon Icon--lg Icon--textAlign">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-for-sale"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="Pathway-title Arrow-right">Properties for sale</span>
                                                </div>
                                            </a>
                                        </div>
                    
                                    </div>
                                </div>
                            </section>
                    
                        </div>
</article>