---
title: For sale
layout: default
---
                    
                    {% comment %}
                        This include requires assigning a variable for {{ profile }}
                        e.g. {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
                    {% endcomment %}
                    
                    {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
                    
                    <article class="Property">
                        <section class="Hero u-marginB2">
                            <div class="gallery">
                                <div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249724-13128-1.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249728-16596-2.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249730-16609-2a.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249732-16635-3.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249734-16673-4.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249736-16700-5.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249738-16715-5a.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249740-16728-5b.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249742-16741-5c.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249744-16766-5d.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249746-16780-6.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249748-16793-6a.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249750-16819-8.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249752-16833-9.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249754-13479-10.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249756-16867-11.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249758-16900-12.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249760-16918-13.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249762-16938-14.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1455249764-16956-22.jpg')"></div>
                    </div>
                </div>
            </div>
                            </div>
                        </section>
                    
                        <div class="Container">
                            <div class="Grid Grid--withGutter">
                                <div class="Grid-cell u-xs-size4of12 u-paddingR2 u-alignBlockDown">
                                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAql2kulp165ryrd2TH0vG6CPkkB2-u4FY&q=-17.1431824,145.7183484" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    
                                    <div class="DivRule--light u-marginT"></div>
                                    <h3 class="Headline--tertiary">Share this property</h3>
                                    {% include share.html %}
                                    
                                </div>
                    
                                <div class="Grid-cell u-xs-size8of12">
                                    <h1 class="Property-title">Residential property at LITTLE MULGRAVE on a4974 m<sub>2</sub></h1>
                                    <p class="Property-price">$599,000 negotiable</p>
                    
                                    <div class="DivRule u-marginT15"></div>
                                    <p class="Property-address">
                                        Lot 2, Palamino Court, LITTLE MULGRAVE
                                        <span class="Property-config u-marginLD3">
                                            <span class="Property-bedroooms">4</span>
                                            <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
                                            </svg>
                                            <span class="Property-bathrooms">2</span>
                                            <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                                            </svg>
                                            <span class="Property-carspaces">2</span>
                                            <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                                            </svg>
                                        </span>
                                    </p>
                                    <p class="Property-area">Land area: 4974 m<sub>2</sub></p>
                                    <p class="Property-id">Property ID CSS9541023</p>
                    
                                    <!-- <div class="DivRule u-marginT15"></div> -->
                    
                    
                                    <div class="DivRule--light u-marginT15"></div>
                    
                                    <div class="Grid Grid--withGutter u-marginT">
                                        <div class="Grid-cell u-sm-size9of12">
                    
                                            <p><p>Therese Plath is excited to offer this quality family retreat set upon 4,974m2 of flat usable land. Indulge yourself in your little world of tranquility and privacy of orchids, beautiful tropical landscaping and vegetable gardens. Entertain from the delightful outdoor entertaining area  the perfect venue for indoor / outdoor integration with friends and family overlooking the lush rainforest backdrop.</p>
<p>Located 35 minutes on the Southside of Cairns City and 12 minutes to all conveniences and with views of the tranquil surrounds and the mountain backdrop with plenty of space to kick back and watch the kids enjoy the extensive grounds. There are many varieties of established fruit trees and a large chicken coop.</p>
<p>Featuring a fantastic floor plan and displaying a wonderful sense of space and openness. The impressive and delightful silky oak kitchen allows for easy service to the dining and designed with the finest of fittings ensuring the perfect sanctuary for aspiring chefs, complete with electric cooktop, oven, dishwasher and plenty of bench and cupboard spaces complete with large pantry and walk in store room.</p>
<p>The open plan dining, living and lounge areas are tiled with sliding doors opening onto the massive outside entertaining patio.</p>
<p>The master suite is its own haven with built in wardrobes, en-suite, large shower, vanity and separate toilet plus three other queen size bedrooms including built-in robes and spa bath to the second bathroom.</p>
<p>Here lies the perfect opportunity to own a piece of paradise with many other features including;  garden shed and an awning for boat, double garage with a remote and storage cupboards, 2.5kw solar power, extra large water tank (22,000 litres), storage shed, programmable watering system, visitor parking for four cars, ample storage within the home and laundry with sewing area.</p>
<p>This impressive acreage lifestyle represents a potentially lucrative investment in a family friendly scenic location, tucked away in Little Mulgrave. We welcome your interest. Phone for your inspection with Therese Plath on 0418 772995 or email therese.plath@raywhite.com</p></p>
                    
                                            <div class="u-marginT2">
                                                {% include profile-card.html %}
                                            </div>
                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <section class="Section">
                                <div class="Container DivRule">
                                    <a href="/for-sale">
                                        <h1 class="Headline Arrow-right u-marginB15">More for sale</h1>
                                    </a>
                                    <div class="Grid Grid--withGutter">
                                        {% for current in site.data.current limit:2%}
                                        {% if current.id!="CSS9541023" %}
<div class="Grid-cell u-size1of2 u-xs-size1of3">
    <a class="Property Card" href="/for-sale/{{current.property_id}}.html">
        <div class="Property-image" style="background-image: url({{current.image}})"></div>

        <div class="Property-details">
            <h1 class="Property-details--title Arrow-right u-marginB0">{{current.address_suburb}}</h1>
            <p class="Property-details--location">{{current.address_street}}</p>
            <p class="Property-details--price">{{current.price}}</p>

            <p class="Property-config u-marginTD6">
                <span class="Property-bedroooms">{{current.bedrooms}}</span>
                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
                </svg>
                <span class="Property-bathrooms">{{current.bathrooms}}</span>
                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                </svg>
                <span class="Property-carspaces">{{current.garage}}</span>
                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                </svg>
            </p>

        </div>
    </a>
</div>
{% endif %}
{% endfor %}
                                        <div class="Grid-cell u-xs-size1of3">
                                            <a class="Pathway Card u-bgNeutral u-textCenter u-flex u-flexAlignItemsCenter" href="/for-sale">
                                                <div class="Pathway-detail">
                                                    <span class="Pathway-icon">
                                                        <svg class="Icon Icon--lg Icon--textAlign">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-for-sale"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="Pathway-title Arrow-right">Properties for sale</span>
                                                </div>
                                            </a>
                                        </div>
                    
                                    </div>
                                </div>
                            </section>
                    
                        </div>
</article>