---
title: For sale
layout: default
---

                    {% comment %}
                        This include requires assigning a variable for {{ profile }}
                        e.g. {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
                    {% endcomment %}
                    
                    {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
                    
                    <article class="Property">
                        <section class="Hero u-marginB2">
                            <div class="gallery">
                                <div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/25807-1.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/26487-2.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/22520-03.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/27754-3.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/26588-4.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/26008-5.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/26049-6.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/26080-7.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/27901-8.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/19735-9.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/27971-10.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/26734-11.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/26294-12.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/25297-13.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/28124-142.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/22891-15.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/25375-16.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/26485-19.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/22575-04.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/22859-14.jpg')"></div>
                    </div>
                </div>
            </div>
                            </div>
                        </section>
                    
                        <div class="Container">
                            <div class="Grid Grid--withGutter">
                                <div class="Grid-cell u-xs-size4of12 u-paddingR2 u-alignBlockDown">
                                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAql2kulp165ryrd2TH0vG6CPkkB2-u4FY&q=-16.954859,145.729711" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    
                                    <div class="DivRule--light u-marginT"></div>
                                    <h3 class="Headline--tertiary">Share this property</h3>
                                    {% include share.html %}
                                    
                                </div>
                    
                                <div class="Grid-cell u-xs-size8of12">
                                    <h1 class="Property-title">Residential property at BAYVIEW HEIGHTS on a1033 m<sub>2</sub></h1>
                                    <p class="Property-price">Buyers up to Mid $400's Range Should Inspect!</p>
                    
                                    <div class="DivRule u-marginT15"></div>
                                    <p class="Property-address">
                                        44, Wirrah Close, BAYVIEW HEIGHTS
                                        <span class="Property-config u-marginLD3">
                                            <span class="Property-bedroooms">4</span>
                                            <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
                                            </svg>
                                            <span class="Property-bathrooms">3</span>
                                            <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                                            </svg>
                                            <span class="Property-carspaces">2</span>
                                            <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                                            </svg>
                                        </span>
                                    </p>
                                    <p class="Property-area">Land area: 1033 m<sub>2</sub></p>
                                    <p class="Property-id">Property ID CSS9662564</p>
                    
                                    <!-- <div class="DivRule u-marginT15"></div> -->
                    
                    
                                    <div class="DivRule--light u-marginT15"></div>
                    
                                    <div class="Grid Grid--withGutter u-marginT">
                                        <div class="Grid-cell u-sm-size9of12">
                    
                                            <p><p>In a privileged position in popular location of Cairns, Therese Plath welcomes your interest in this choice property in Bayview heights  An ideal retreat for busy families waiting for your inspection.</p>
<p>All the work has been completed and the impeccable presentation is enhanced by uncluttered lines, generous storage and neutral colour scheme.</p>
<p>Situated on two levels the lower level comprises of a generous bedroom, space for office and bathroom facilities, complete with shower, toilet and single vanity  just perfect for teenagers or for guests come to stage.  </p>
<p>On the second level there is an additional three spacious bedrooms, including master suite, walk in robe and en-suite with all bedrooms enjoying easy access to the family-sized bathroom which is tiled with plenty of bench and cupboard space with separate toilet.</p>
<p>The open plan kitchen, dining and lounge is light and open with low-maintenance surfaces, electric appliances, dishwasher - all perfectly positioned to view the leafy back yard.  </p>
<p>Additional features include:</p>
<ul>
<li>Double remote car accommodation</li>
<li>High ceilings underneath</li>
<li>Wide side Access with oodles of room for massive shed and swimming pool </li>
<li>Easy low care maintenance gardens </li>
</ul>
<p>Representing a truly enviable lifestyle and only 9km from Cairns City Centre this suburb is home to some of the City's exclusive real estate and just minutes to high schools, primary schools, state and private, shopping centres and sporting.</p>
<p>An impressive home with immediate possession for buyers in the High $400,000's Range  Call Therese today for your inspection  0418 772 995.</p></p>
                    
                                            <div class="u-marginT2">
                                                {% include profile-card.html %}
                                            </div>
                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <section class="Section">
                                <div class="Container DivRule">
                                    <a href="/for-sale">
                                        <h1 class="Headline Arrow-right u-marginB15">More for sale</h1>
                                    </a>
                                    <div class="Grid Grid--withGutter">
                                        {% for current in site.data.current limit:2%}
                                        {% if current.id!="CSS9662564" %}
<div class="Grid-cell u-size1of2 u-xs-size1of3">
    <a class="Property Card" href="/for-sale/{{current.property_id}}.html">
        <div class="Property-image" style="background-image: url({{current.image}})"></div>

        <div class="Property-details">
            <h1 class="Property-details--title Arrow-right u-marginB0">{{current.address_suburb}}</h1>
            <p class="Property-details--location">{{current.address_street}}</p>
            <p class="Property-details--price">{{current.price}}</p>

            <p class="Property-config u-marginTD6">
                <span class="Property-bedroooms">{{current.bedrooms}}</span>
                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
                </svg>
                <span class="Property-bathrooms">{{current.bathrooms}}</span>
                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                </svg>
                <span class="Property-carspaces">{{current.garage}}</span>
                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                </svg>
            </p>

        </div>
    </a>
</div>
{% endif %}
{% endfor %}
                                        <div class="Grid-cell u-xs-size1of3">
                                            <a class="Pathway Card u-bgNeutral u-textCenter u-flex u-flexAlignItemsCenter" href="/for-sale">
                                                <div class="Pathway-detail">
                                                    <span class="Pathway-icon">
                                                        <svg class="Icon Icon--lg Icon--textAlign">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-for-sale"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="Pathway-title Arrow-right">Properties for sale</span>
                                                </div>
                                            </a>
                                        </div>
                    
                                    </div>
                                </div>
                            </section>
                    
                        </div>
</article>