---
title: For sale
layout: default
---

					{% comment %}
						This include requires assigning a variable for {{ profile }}
						e.g. {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
					{% endcomment %}

					{% assign profile = site.profiles | where: 'title', 'Therese' | first %}

					<article class="Property">
						<section class="Hero u-marginB2">
							<div class="gallery">
								<div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/8014-10.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/30413-03.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/30381-02.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1549-12.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/26305-11.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/26136-04.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/7866-05.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/30496-06.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1165-07.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/4453-08.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1111-09.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/13172-DSC5139a.jpg')"></div>
					</div>
				</div>
			</div>
							</div>
						</section>

						<div class="Container">
							<div class="Grid Grid--withGutter">
								<div class="Grid-cell u-xs-size4of12 u-paddingR2 u-alignBlockDown">
									<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAql2kulp165ryrd2TH0vG6CPkkB2-u4FY&q=-16.998001,145.738885" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

									<div class="DivRule--light u-marginT"></div>
									<h3 class="Headline--tertiary">Share this property</h3>
									{% include share.html %}

								</div>

								<div class="Grid-cell u-xs-size8of12">
									<h1 class="Property-title">Residential property at MOUNT SHERIDAN on a 710m<sub>2</sub></h1>
									<p class="Property-price">Buyers in $360's Range</p>

									<div class="DivRule u-marginT15"></div>
									<p class="Property-address">
										19 Idalia Road, MOUNT SHERIDAN
										<span class="Property-config u-marginLD3">
											<span class="Property-bedroooms">3</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
											</svg>
											<span class="Property-bathrooms">2</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
											</svg>
											<span class="Property-carspaces">2</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
											</svg>
										</span>
									</p>
									<p class="Property-area">Land area: 710m<sub>2</sub></p>
									<p class="Property-id">Property ID: CSS9608009</p>

									<!-- <div class="DivRule u-marginT15"></div> -->


									<div class="DivRule--light u-marginT15"></div>

									<div class="Grid Grid--withGutter u-marginT">
										<div class="Grid-cell u-sm-size9of12">

											<p>Therese Plath and Patrick Kenny present this great family home located 15 minutes from Cairns City Centre and just 5 minutes to schools and shopping nearby.</p>
<p>This property is impeccably presented, epitomising a myriad of family friendly features. The 5kw solar system provides savings all year round, splilt system air conditioning throughout all rooms of the home and a low maintenance above ground pool that's great for an afternoon dip while enjoying the gardens makes this home complete.</p>
<p>For the budding chef of the home this impressive kitchen has quality fittings throughout with banks of cupboards, ample bench space and gas cook top. It is an entertainers dream with easy access to the living areas and bi-fold windows to the huge undercover tiled alfresco entertaining area.</p>
<p>The master bedroom is large and has an en-suite with the main bathroom servicing the other two generous bedrooms, both with built-ins and a separate toilet, plunge bath/shower and powder room.</p>
<p>The gardens are low maintenance featuring a rock retaining wall and well established tropical gardens with lock up lawn locker shed, bird avery and green houses. The property has secure child and pet friendly fencing and the level block has access through the double remote car accommodation.</p>
<p>An ideal lifestyle choice for those seeking low maintenance living in a prime position just minutes to the Cairns City and Esplanade and with a number of parks, walking tracks, schools, sporting facilities and Mount Sheridan Shopping Plaza.</p>
<p>Make the most of this family home - If you value difference, quality and an easy lifestyle.  We look forward to showing you this fine property at your convenience. For buyers in the $360's range, please call Therese Plath on 0418 772 995, email therese.plath@raywhite.com or call Patrick Kenny on 0417 745 839 or email patrick.kenny@raywhite.com</p>

											<div class="u-marginT2">
												{% include profile-card.html %}
											</div>

										</div>
									</div>
								</div>
							</div>

							<section class="Section">
								<div class="Container DivRule">
									<a href="/for-sale">
										<h1 class="Headline Arrow-right u-marginB15">More for sale</h1>
									</a>
									<div class="Grid Grid--withGutter">
										{% for current in site.data.current limit:2%}
										<div class="Grid-cell u-size1of2 u-xs-size1of3">
											<a class="Property Card" href="/for-sale/{{current.property_id}}.html">
												<div class="Property-image" style="background-image: url({{current.image}})"></div>

												<div class="Property-details">
													<h1 class="Property-details--title Arrow-right u-marginB0">{{current.address_suburb}}</h1>
													<p class="Property-details--location">{{current.address_street}}</p>
													<p class="Property-details--price">{{current.price}}</p>

													<p class="Property-config u-marginTD6">
														<span class="Property-bedroooms">{{current.bedrooms}}</span>
														<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
														</svg>
														<span class="Property-bathrooms">{{current.bathrooms}}</span>
														<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
														</svg>
														<span class="Property-carspaces">{{current.garage}}</span>
														<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
														</svg>
													</p>

												</div>
											</a>
										</div>
										{% endfor %}
										<div class="Grid-cell u-xs-size1of3">
											<a class="Pathway Card u-bgNeutral u-textCenter u-flex u-flexAlignItemsCenter" href="/for-sale">
												<div class="Pathway-detail">
													<span class="Pathway-icon">
														<svg class="Icon Icon--lg Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-for-sale"></use>
														</svg>
													</span>
													<span class="Pathway-title Arrow-right">Properties for sale</span>
												</div>
											</a>
										</div>

									</div>
								</div>
							</section>

						</div>
					</article>