---
title: For sale
layout: default
---
                    
                    {% comment %}
                        This include requires assigning a variable for {{ profile }}
                        e.g. {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
                    {% endcomment %}
                    
                    {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
                    
                    <article class="Property">
                        <section class="Hero u-marginB2">
                            <div class="gallery">
                                <div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1459837652-29051-01.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1459837669-22547-15.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1459837655-29077-03.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1459837656-22411-04.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1459837657-22424-05.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1459837658-29113-06.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1459837660-29140-07.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1459837661-29155-08.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1459837662-29168-09.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1459837665-22496-11.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1459837666-29195-12.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1459837667-22520-13.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1459837668-22534-14.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1459837670-22567-16.jpg')"></div>
                    </div>
                </div>
            </div>
                            </div>
                        </section>
                    
                        <div class="Container">
                            <div class="Grid Grid--withGutter">
                                <div class="Grid-cell u-xs-size4of12 u-paddingR2 u-alignBlockDown">
                                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAql2kulp165ryrd2TH0vG6CPkkB2-u4FY&q=-17.013192,145.716641" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    
                                    <div class="DivRule--light u-marginT"></div>
                                    <h3 class="Headline--tertiary">Share this property</h3>
                                    {% include share.html %}
                                    
                                </div>
                    
                                <div class="Grid-cell u-xs-size8of12">
                                    <h1 class="Property-title">Residential property at BENTLEY PARK on a738 m<sub>2</sub></h1>
                                    <p class="Property-price">$429,000</p>
                    
                                    <div class="DivRule u-marginT15"></div>
                                    <p class="Property-address">
                                        13, Bundey Street, BENTLEY PARK
                                        <span class="Property-config u-marginLD3">
                                            <span class="Property-bedroooms">4</span>
                                            <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
                                            </svg>
                                            <span class="Property-bathrooms">2</span>
                                            <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                                            </svg>
                                            <span class="Property-carspaces">2</span>
                                            <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                                            </svg>
                                        </span>
                                    </p>
                                    <p class="Property-area">Land area: 738 m<sub>2</sub></p>
                                    <p class="Property-id">Property ID CSS9540322</p>
                    
                                    <!-- <div class="DivRule u-marginT15"></div> -->
                    
                    
                                    <div class="DivRule--light u-marginT15"></div>
                    
                                    <div class="Grid Grid--withGutter u-marginT">
                                        <div class="Grid-cell u-sm-size9of12">
                    
                                            <p><p>Therese Plath presents this well-appointed stylish, fully tiled four bedroom family residence with a brilliant floor plan in popular Silkwood Ridge, Bentley Park, just 15 minutes from Cairns City, Coles Shopping Centre, Sporting Complex and schools just 5 minutes away.</p>
<p>The kitchen and dining is open plan and is finished with clean lines and cool tones throughout. This modern home has a light and airy ambiance. The kitchen has stainless steel appliances and plenty of food preparation areas and cupboard spaces. The sliding door from the living areas opens onto a large tiled undercover alfresco entertaining patio which is visible from the kitchen so you can easily watch children at play.  There is a spacious and separate media/lounge room to the front of the home and a study nook.</p>
<p>The home is fully air-conditioned with tiled living areas with the large main bedroom - walk in robe and en-suite and the other three double bedrooms having built in wardrobes.</p>
<p>Set on a large 738m2 block, the double gated side access and rear access is a bonus with no rear neighbours - plenty of room to install a sparkling in ground pool in or large shed with low maintenance gardens .  </p>
<p>Other features include remote double garage with internal access, security screens throughout as well as internal laundry.</p>
<p>Enjoy the relaxed and calming atmosphere in this immaculate and beautifully presented property which is super convenient to all shopping and activities, this distinctive property is an investment for your family.</p>
<p>In such a family friendly location, this appealing property will attract your attention  Priced to sell at $429,000. Our vendors are motivated so call Therese Plath on 0418 772 995.</p></p>
                    
                                            <div class="u-marginT2">
                                                {% include profile-card.html %}
                                            </div>
                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <section class="Section">
                                <div class="Container DivRule">
                                    <a href="/for-sale">
                                        <h1 class="Headline Arrow-right u-marginB15">More for sale</h1>
                                    </a>
                                    <div class="Grid Grid--withGutter">
                                        {% for current in site.data.current limit:2%}
                                        {% if current.id!="CSS9540322" %}
<div class="Grid-cell u-size1of2 u-xs-size1of3">
    <a class="Property Card" href="/for-sale/{{current.property_id}}.html">
        <div class="Property-image" style="background-image: url({{current.image}})"></div>

        <div class="Property-details">
            <h1 class="Property-details--title Arrow-right u-marginB0">{{current.address_suburb}}</h1>
            <p class="Property-details--location">{{current.address_street}}</p>
            <p class="Property-details--price">{{current.price}}</p>

            <p class="Property-config u-marginTD6">
                <span class="Property-bedroooms">{{current.bedrooms}}</span>
                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
                </svg>
                <span class="Property-bathrooms">{{current.bathrooms}}</span>
                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                </svg>
                <span class="Property-carspaces">{{current.garage}}</span>
                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                </svg>
            </p>

        </div>
    </a>
</div>
{% endif %}
{% endfor %}
                                        <div class="Grid-cell u-xs-size1of3">
                                            <a class="Pathway Card u-bgNeutral u-textCenter u-flex u-flexAlignItemsCenter" href="/for-sale">
                                                <div class="Pathway-detail">
                                                    <span class="Pathway-icon">
                                                        <svg class="Icon Icon--lg Icon--textAlign">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-for-sale"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="Pathway-title Arrow-right">Properties for sale</span>
                                                </div>
                                            </a>
                                        </div>
                    
                                    </div>
                                </div>
                            </section>
                    
                        </div>
</article>