---
title: For sale
layout: default
---

                    {% comment %}
                        This include requires assigning a variable for {{ profile }}
                        e.g. {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
                    {% endcomment %}
                    
                    {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
                    
                    <article class="Property">
                        <section class="Hero u-marginB2">
                            <div class="gallery">
                                <div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/111658619-image-M.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/111658619-image-A.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/111658619-image-B.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/111658619-image-C.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/111658619-image-D.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/111658619-image-E.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/111658619-image-F.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/111658619-image-G.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/111658619-image-H.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/111658619-image-I.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/111658619-image-J.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/111658619-image-K.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/111658619-image-L.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/112154131-image-M.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/112154131-image-A.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/112154131-image-B.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/112154131-image-C.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/112154131-image-D.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/112154131-image-E.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/112154131-image-F.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/112154131-image-G.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/112154131-image-H.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/112154131-image-I.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/112154131-image-J.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/112154131-image-K.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/112154131-image-L.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/119073107-image-M.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/119073107-image-A.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/119073107-image-B.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/119073107-image-C.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/119073107-image-D.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/119073107-image-E.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/119073107-image-F.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/119073107-image-G.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/119073107-image-H.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/119073107-image-I.jpg')"></div>
                    </div>
                </div>
            </div><div class="gallery-cell">
                <div class="FlexEmbed">
                    <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
                    <div class="FlexEmbed-content">
                        <div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/119073107-image-J.jpg')"></div>
                    </div>
                </div>
            </div>
                            </div>
                        </section>
                    
                        <div class="Container">
                            <div class="Grid Grid--withGutter">
                                <div class="Grid-cell u-xs-size4of12 u-paddingR2 u-alignBlockDown">
                                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAql2kulp165ryrd2TH0vG6CPkkB2-u4FY&q=-16.999756,145.736228" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    
                                    <div class="DivRule--light u-marginT"></div>
                                    <h3 class="Headline--tertiary">Share this property</h3>
                                    {% include share.html %}
                                    
                                </div>
                    
                                <div class="Grid-cell u-xs-size8of12">
                                    <h1 class="Property-title">Residential property at MOUNT SHERIDAN on a740 m<sub>2</sub></h1>
                                    <p class="Property-price">High $200's Range</p>
                    
                                    <div class="DivRule u-marginT15"></div>
                                    <p class="Property-address">
                                        19, Adonis Street, MOUNT SHERIDAN
                                        <span class="Property-config u-marginLD3">
                                            <span class="Property-bedroooms">3</span>
                                            <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
                                            </svg>
                                            <span class="Property-bathrooms">1</span>
                                            <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                                            </svg>
                                            <span class="Property-carspaces">0</span>
                                            <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                                            </svg>
                                        </span>
                                    </p>
                                    <p class="Property-area">Land area: 740 m<sub>2</sub></p>
                                    <p class="Property-id">Property ID CTR4256717</p>
                    
                                    <!-- <div class="DivRule u-marginT15"></div> -->
                    
                    
                                    <div class="DivRule--light u-marginT15"></div>
                    
                                    <div class="Grid Grid--withGutter u-marginT">
                                        <div class="Grid-cell u-sm-size9of12">
                    
                                            <p><p></p><p>Therese Plath presents this practical home positioned so close to the Mount Sheridan Shopping Precinct offering low maintenance living and just moments from schools and day care centres just 15 minutes to Cairns City Centre with all conveniences close by.

This fully tiled, neat home offers three large bedrooms with an open plan tiled kitchen, living and dining area opening onto the cool entertaining patio with outdoor kitchen.

Well positioned on 740m2 level block offering a spacious backyard with plenty of room for pool, LARGE shed and swings for children or pets to play.

If you enjoy cooking and having bbq's outside you have the bonus of two kitchens making entertaining a breeze with both having plenty of cupboard space.

Other benefits of the property are:

- plenty of storage
- internal laundry
- security screened throughout
- low maintenance gardens
- single car accommodation
-      solar panels - our current seller has the bonus of not having an electricity bill -

A home with real value in this price range asking high $200's range so call Therese Plath today on 0418 772 995 or email therese.plath@raywhite.com</p>
                    
                                            <div class="u-marginT2">
                                                {% include profile-card.html %}
                                            </div>
                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <section class="Section">
                                <div class="Container DivRule">
                                    <a href="/for-sale">
                                        <h1 class="Headline Arrow-right u-marginB15">More for sale</h1>
                                    </a>
                                    <div class="Grid Grid--withGutter">
                                        {% for current in site.data.current limit:2%}
                                        {% if current.id!="CTR4256717" %}
<div class="Grid-cell u-size1of2 u-xs-size1of3">
    <a class="Property Card" href="/for-sale/{{current.property_id}}.html">
        <div class="Property-image" style="background-image: url({{current.image}})"></div>

        <div class="Property-details">
            <h1 class="Property-details--title Arrow-right u-marginB0">{{current.address_suburb}}</h1>
            <p class="Property-details--location">{{current.address_street}}</p>
            <p class="Property-details--price">{{current.price}}</p>

            <p class="Property-config u-marginTD6">
                <span class="Property-bedroooms">{{current.bedrooms}}</span>
                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
                </svg>
                <span class="Property-bathrooms">{{current.bathrooms}}</span>
                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                </svg>
                <span class="Property-carspaces">{{current.garage}}</span>
                <svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
                </svg>
            </p>

        </div>
    </a>
</div>
{% endif %}
{% endfor %}
                                        <div class="Grid-cell u-xs-size1of3">
                                            <a class="Pathway Card u-bgNeutral u-textCenter u-flex u-flexAlignItemsCenter" href="/for-sale">
                                                <div class="Pathway-detail">
                                                    <span class="Pathway-icon">
                                                        <svg class="Icon Icon--lg Icon--textAlign">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-for-sale"></use>
                                                        </svg>
                                                    </span>
                                                    <span class="Pathway-title Arrow-right">Properties for sale</span>
                                                </div>
                                            </a>
                                        </div>
                    
                                    </div>
                                </div>
                            </section>
                    
                        </div>
</article>