---
title: For sale
layout: default
---

<script type="text/javascript" src="../jsfiles/forsale.js?ver=1.0"></script>
<section class="Section u-marginT0">
	<div class="Container">
		<div class="DivRule--medium"></div>
		<div class="u-marginB15 u-xs-marginB25">
			<div class="Grid">
				<div class="Grid-cell u-xs-size5of12">
					{% assign CurrentSalesSize = 0 %}
					{% for current in site.data.current %}
						{% if forloop.last %}
							<p class="u-textBold">Showing {{ CurrentSalesSize | plus:forloop.length }} total listings</p>
						{% endif %}
					{% endfor %}
				</div>
				<div class="Grid-cell u-xs-size7of12 u-xs-textRight u-mxs-marginTD3">
					<label for="sortcombo" class="optional u-marginRD6">Sort by:</label>
					<select class="u-textRg" id="sortcombo" name="sortcombo">
						<option value="updated-DES" label="Most Recent Listings">Most Recent Listings</option>
						<option value="suburb-ASC" label="Location (A - Z)" selected>Location (A - Z)</option>
						<option value="suburb-DES" label="Location (Z - A)">Location (Z - A)</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="Section u-marginT0">
	<div class="Container">
		<div class="Grid Grid--withGutter">
			{% assign entry = site.data.current | sort:"address_suburb"  %}
			{% for current in entry | limit:12 %}
				{% include property-forsale-in-list.html %}
			{% endfor %}
		</div>
	</div>
</section>

{% include pathway-appraisal.html %}

<section class="Section u-marginT0">
	<div class="Container">
		<div class="Grid Grid--withGutter">
			{% for current in entry | offset:13 %}
				{% include property-forsale-in-list.html %}
			{% endfor %}
		</div>
	</div>
</section>
