---
title: For sale
layout: default
---

<section class="Section u-marginT0">
	<div class="Container">
		<div class="DivRule--medium"></div>
		<div class="u-marginB25">
			<div class="Grid">
				<div class="Grid-cell u-size1of2">
					{% assign CurrentSalesSize = 0 %}
					{% for current in site.data.current %}
						{% if forloop.last %}
							<p class="u-textBold">Showing {{ CurrentSalesSize | plus:forloop.length }} total listings</p>
						{% endif %}
					{% endfor %}
				</div>
				<div class="Grid-cell u-size1of2 u-textRight">
					<label for="sortcombo" class="optional u-marginRD6">Sort by:</label>
					<select class="u-textRg" id="sortcombo" name="sortcombo">
						<option value="updated-DES" label="Most Recent Listings">Most Recent Listings</option>
						<option value="suburb-ASC" label="Location (A - Z)">Location (A - Z)</option>
						<option value="suburb-DES" label="Location (Z - A)">Location (Z - A)</option>
						<option value="price-ASC" label="Price (Low - High)">Price (Low - High)</option>
						<option value="price-DES" label="Price (High - Low)">Price (High - Low)</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="Section u-marginT0">
	<div class="Container">
		<div class="Grid Grid--withGutter">
			{% for current in site.data.current | limit:12 %}
				{% include property-in-list.html %}
			{% endfor %}
		</div>
	</div>
</section>

{% include pathway-appraisal.html %}

<section class="Section u-marginT0">
	<div class="Container">
		<div class="Grid Grid--withGutter">
			{% for current in site.data.current | offset:13 %}
				{% include property-in-list.html %}
			{% endfor %}
		</div>
	</div>
</section>
