---
title: About
layout: default
---

{% assign therese = site.profiles | where: 'title', 'Therese' | first %}
{% assign jodie   = site.profiles | where: 'title', 'Jodie' | first %}
{% assign tamara  = site.profiles | where: 'title', 'Tamara' | first %}

<section class="Section u-marginT0 u-marginB2 u-bgBrandAlt">
	<div class="Container">
		<figure class="">
			<div class="FlexEmbed">
				<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
				<div class="FlexEmbed-content u-flex u-flexAlignItemsCenter">
					<div class="u-posAbsoluteCenter CoverImage--therese" style="background-image: url('/uploads/therese-plath-lg.png')"></div>
					<div class="Hgroup u-sm-size4of12">
						<h1 class="Headline u-marginB0">{{ therese.name }}</h1>
						<h2 class="Headline">{{ therese.jobtitle }}</h2>
						<p class="u-textLg u-msm-hide">{{ therese.summary }}</p>
					</div>
				</div>
			</div>
		</figure>
	</div>
</section>

<div class="Container">

	<div class="Grid Grid--withGutter">
		<div class="Grid-cell u-sm-size4of12 u-sm-paddingR2">
			<div class="DivRule u-msm-hide"></div>
			<h3 class="Headline--tertiary u-msm-marginTD2 u-marginB0">Contact {{ therese.title }}</h3>
			<ul class="u-listClean u-marginBD1">
				{% assign profile = therese %}
				{% include profile-contact.html %}
			</ul>
			<!-- {% include share.html %} -->
		</div>

		<div class="Grid-cell u-sm-before1of12 u-sm-size6of12 u-after1of12 u-alignBlockUp u-msm-flexOrderFirst">
			<p class="u-textLg u-sm-hide">{{ therese.summary }}</p>
			{{ therese.content }}
		</div>
	</div>

	<div class="DivRule u-marginT5">
		<div class="Grid Grid--withGutter">
			<div class="Grid-cell u-sm-before1of12 u-sm-size4of12 u-sm-paddingR2 u-alignBlockDown">
				<figure class="Profile-image u-msm-hide">
					<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('/uploads/jodie-kneebone.jpg')"></div>
				</figure>
				<h3 class="Headline--tertiary u-marginTD2 u-marginB0">Contact {{ jodie.title }}</h3>
				<ul class="u-listClean u-marginBD1">
					{% assign profile = jodie %}
					{% include profile-contact.html %}
				</ul>
				<!-- {% include share.html %} -->
			</div>
			<div class="Grid-cell u-sm-size6of12 u-alignBlockDown">
				<figure class="Profile-image u-sm-hide">
					<div class="u-posAbsoluteCenter CoverImage--teamPlath" style="background-image: url('/uploads/jodie-kneebone.jpg')"></div>
				</figure>
				<h1 class="Headline u-msm-marginT">{{ jodie.name }}</h1>
				{{ jodie.content }}
			</div>
		</div>
	</div>

</div>
