---
title: blog
layout: default
---

<p>This is the blog template.</p>

{% if type == 'post' %}
    {% include 'post.html %}
{% else %}

<section class="Section u-marginT0">
    <div class="Container">
        <div class="Grid Grid--withGutter">
            <div class="Grid-cell u-sm-size3of12 u-sm-display">
                <div class="Affix" data-spy="affix" data-offset-top="200">
                    {% include posts-aside.html %}
                </div>
            </div>
            <div class="Grid-cell u-sm-size9of12">
                {% for post in posts | limit: 12 %}
                    {% include post-in-list.html %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endif %}
