---
title: Recent sales
layout: default
---

					{% comment %}
						This include requires assigning a variable for {{ profile }}
						e.g. {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
					{% endcomment %}

					{% assign profile = site.profiles | where: 'title', 'Therese' | first %}

					<article class="Property">
						<section class="Hero u-marginB2">
							<div class="gallery">
								<div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/23665-15.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/19955-1.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/24277-17.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/24964-18.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/20419-2.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/20621-3.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/20806-3-1.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/20971-4.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/21193-5.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/21413-6.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/21722-6-1.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/21924-7.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/22061-8.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/22313-9.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/22442-10.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/22610-11.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/22896-12.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/23062-13.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/23211-14.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/23377-14-1.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/23901-16.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/24536-17-1.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/25188-19.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/25571-20.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/25878-20-1.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/26403-21.jpg')"></div>
					</div>
				</div>
			</div>
							</div>
						</section>

						<div class="Container">
							<div class="Grid Grid--withGutter">
								<div class="Grid-cell u-xs-size4of12 u-paddingR2 u-alignBlockDown">
									<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAql2kulp165ryrd2TH0vG6CPkkB2-u4FY&q=-17.091661,145.764863" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

									<div class="DivRule--light u-marginT"></div>
									<h3 class="Headline--tertiary">Share this property</h3>
									{% include share.html %}

								</div>

								<div class="Grid-cell u-xs-size8of12">
									<h1 class="Property-title">Residential property at GORDONVALE </h1>
									<p class="Property-price">$540,000 Neg</p>

									<div class="DivRule u-marginT15"></div>
									<p class="Property-address">
										8 - 12 Cohen Close, GORDONVALE
										<span class="Property-config u-marginLD3">
											<span class="Property-bedroooms">4</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
											</svg>
											<span class="Property-bathrooms">3</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
											</svg>
											<span class="Property-carspaces">2</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
											</svg>
										</span>
									</p>
									
									<p class="Property-id">Property ID: CSS5835769</p>

									<!-- <div class="DivRule u-marginT15"></div> -->


									<div class="DivRule--light u-marginT15"></div>

									<div class="Grid Grid--withGutter u-marginT">
										<div class="Grid-cell u-sm-size9of12">

											<p>Situated in the tightly held Wyreema Estate precinct, this well cared for family home residence, occupies 2057m2 prime allotment in a prestigious semi-acreage alcove.</p>
<p>Built by Allan Jones in 2005, offers you and your family, a lifestyle choice.  With uninterrupted panoramic views of the iconic Walsh's Pyramid, cooling and refreshing breezes all year long and space to spread out whilst still being quite manageable.</p>
<p>Sit back and enjoy the atmosphere! </p>
<p>Home Benefits include-
Open plan living that combines effortlessly to the outdoor living
Master bedroom with ensuite, walk in robe with adjoining office with bathroom facility
3 Comfortably sized bedrooms, 2 with built in cupboards with convenient access to the main bathroom.  These bedrooms are located away from the master bedroom
Kitchen with walk in pantry, gas cooktop, electric oven and island bench
A good sized laundry with ample storage
Indulge in 62m2 of serene outdoor living entertaining
Relax in the luxurious inground pool
Inverter split system airconditioning throughout
Tinted windows, tiled throughout, freshly painted 12 months ago, ceiling insulted with pink batts and additional roof ventilation, 3 phone lines and 5 television connections
380m2 of Ashphalt driveway and fully fenced
8m x 8m Carport with power, plus powered tool shed
The home is wired for generator power
Variety of fruit bearing plants with trickle irrigation  lemon, lemonade, mandarin, kaffa lime, peach, apricot, dragonfruit, passionfruit  and pineapple
And to mention, the chook pen!</p>
<p>The southern corridor development is exciting with the Woolworths development on Draper Road, Gordonvale approved and the impressive Bruce Highway upgrade well underway.  Gordonvale Township only an 8 minute drive, Cairns CBD a 25 minute drive time.   Local community markets held monthly. Sunbus public transport available. </p>
<p>Private inspections welcomed. Phone Lynda Henley, Sales at Ray White Cairns South on 0429 968 833.</p>

											<div class="u-marginT2">
												{% include profile-card.html %}
											</div>

										</div>
									</div>
								</div>
							</div>

							<section class="Section">
								<div class="Container DivRule">
									<a href="/for-sale">
										<h1 class="Headline Arrow-right u-marginB15">More recent sales</h1>
									</a>
									<div class="Grid Grid--withGutter">
										{% for current in site.data.sold limit:2%}
<div class="Grid-cell u-size1of2 u-xs-size1of3">
	<a class="Property Card" href="/recent-sales/{{current.property_id}}.html">
		<div class="Property-image" style="background-image: url({{current.image}})"></div>

		<div class="Property-details">
			<h1 class="Property-details--title Arrow-right u-marginB0">{{current.address_suburb}}</h1>
			<p class="Property-details--location">{{current.address_street}}</p>
			<p class="Property-details--price">{{current.price}}</p>

			<p class="Property-config u-marginTD6">
				<span class="Property-bedroooms">{{current.bedrooms}}</span>
				<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
				</svg>
				<span class="Property-bathrooms">{{current.bathrooms}}</span>
				<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
				</svg>
				<span class="Property-carspaces">{{current.garage}}</span>
				<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
				</svg>
			</p>

		</div>
	</a>
</div>
{% endfor %}
										<div class="Grid-cell u-xs-size1of3">
											<a class="Pathway Card u-bgNeutral u-textCenter u-flex u-flexAlignItemsCenter" href="/for-sale">
												<div class="Pathway-detail">
													<span class="Pathway-icon">
														<svg class="Icon Icon--lg Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-recent-sales"></use>
														</svg>
													</span>
													<span class="Pathway-title Arrow-right">Recent sales</span>
												</div>
											</a>
										</div>

									</div>
								</div>
							</section>

						</div>
</article>