---
title: Recent sales
layout: default
---

					{% comment %}
						This include requires assigning a variable for {{ profile }}
						e.g. {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
					{% endcomment %}

					{% assign profile = site.profiles | where: 'title', 'Therese' | first %}

					<article class="Property">
						<section class="Hero u-marginB2">
							<div class="gallery">
								<div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/20133-Back.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/18830-front.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/21836-Lounge_dining.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/21398-Dining_kitchen.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/21307-Dining.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/21709-Kitchen.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/21952-Mainbrm.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/21599-Ensuite.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/20848-Brm2.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/21188-Brm3.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/20583-Bathroom.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://s3-ap-southeast-2.amazonaws.com/mydesktop.aunz/rwcairso/photos/22084-Pool.jpg')"></div>
					</div>
				</div>
			</div>
							</div>
						</section>

						<div class="Container">
							<div class="Grid Grid--withGutter">
								<div class="Grid-cell u-xs-size4of12 u-paddingR2 u-alignBlockDown">
									<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAql2kulp165ryrd2TH0vG6CPkkB2-u4FY&q=-17.009983,145.729314" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

									<div class="DivRule--light u-marginT"></div>
									<h3 class="Headline--tertiary">Share this property</h3>
									{% include share.html %}

								</div>

								<div class="Grid-cell u-xs-size8of12">
									<h1 class="Property-title">Residential property at BENTLEY PARK </h1>
									<p class="Property-price">Offers in the $320,000's</p>

									<div class="DivRule u-marginT15"></div>
									<p class="Property-address">
										185 Robert Road, BENTLEY PARK
										<span class="Property-config u-marginLD3">
											<span class="Property-bedroooms">3</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
											</svg>
											<span class="Property-bathrooms">2</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
											</svg>
											<span class="Property-carspaces">2</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
											</svg>
										</span>
									</p>
									
									<p class="Property-id">Property ID: CSS6113922</p>

									<!-- <div class="DivRule u-marginT15"></div> -->


									<div class="DivRule--light u-marginT15"></div>

									<div class="Grid Grid--withGutter u-marginT">
										<div class="Grid-cell u-sm-size9of12">

											<p>If you are looking for a family home that will tick many boxes, then look no further.  Once inside this home you will appreciate all it does have to offer.  Comfortable interior living and great outdoors.</p>
<p>Comfortable and versatile interior living areas with the kitchen centrally located to the family room, dining room and outdoor entertaining area. Raked ceilings in the main living room allow for a more relaxed, spacious and accommodating atmosphere.  </p>
<p>All bedrooms are of good size, complete with airconditioning and built in cupboards.  Carpet to the flooring.  The ensuite to the master bedroom is of good size.</p>
<p>The powered, colourbond shed measures 7m long x 4m wide, with 2 roller doors at the front and back.  The roller door opening is approximately 2.5m high x 2.5m wide, will comfortably house another car, boat, ski boat or campervan.</p>
<p>The large, inground saltwater swimming pool adds the final touches to this already great family home.  There is even backyard for the kids and the pets.</p>
<p>The dual driveway allows easy access to and from the home and undercover parking.  On the left hand side of the property, there is further room to house a trailer, or your other vehicles.</p>

											<div class="u-marginT2">
												{% include profile-card.html %}
											</div>

										</div>
									</div>
								</div>
							</div>

							<section class="Section">
								<div class="Container DivRule">
									<a href="/for-sale">
										<h1 class="Headline Arrow-right u-marginB15">More recent sales</h1>
									</a>
									<div class="Grid Grid--withGutter">
										{% for current in site.data.sold limit:2%}
<div class="Grid-cell u-size1of2 u-xs-size1of3">
	<a class="Property Card" href="/recent-sales/{{current.property_id}}.html">
		<div class="Property-image" style="background-image: url({{current.image}})"></div>

		<div class="Property-details">
			<h1 class="Property-details--title Arrow-right u-marginB0">{{current.address_suburb}}</h1>
			<p class="Property-details--location">{{current.address_street}}</p>
			<p class="Property-details--price">{{current.price}}</p>

			<p class="Property-config u-marginTD6">
				<span class="Property-bedroooms">{{current.bedrooms}}</span>
				<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
				</svg>
				<span class="Property-bathrooms">{{current.bathrooms}}</span>
				<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
				</svg>
				<span class="Property-carspaces">{{current.garage}}</span>
				<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
				</svg>
			</p>

		</div>
	</a>
</div>
{% endfor %}
										<div class="Grid-cell u-xs-size1of3">
											<a class="Pathway Card u-bgNeutral u-textCenter u-flex u-flexAlignItemsCenter" href="/for-sale">
												<div class="Pathway-detail">
													<span class="Pathway-icon">
														<svg class="Icon Icon--lg Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-recent-sales"></use>
														</svg>
													</span>
													<span class="Pathway-title Arrow-right">Recent sales</span>
												</div>
											</a>
										</div>

									</div>
								</div>
							</section>

						</div>
</article>