---
title: Recent sales
layout: default
---

					{% comment %}
						This include requires assigning a variable for {{ profile }}
						e.g. {% assign profile = site.profiles | where: 'title', 'Therese' | first %}
					{% endcomment %}

					{% assign profile = site.profiles | where: 'title', 'Therese' | first %}

					<article class="Property">
						<section class="Hero u-marginB2">
							<div class="gallery">
								<div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1399420595-27801-52HeritageGardens_0004.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1399420612-28265-52HeritageGardens_0019.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1399420055-15577-DSCN2934.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1399420061-15710-DSCN2937.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1399420090-16329-DSCN2964.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1399420086-16264-DSCN2962.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1399420095-16427-DSCN2965.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1399420066-15856-DSCN2942.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1399420081-16161-DSCN2959.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1399420077-16072-DSCN2958.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1399420072-15969-DSCN2957.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1399420100-16545-DSCN2970.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1399420105-16656-DSCN2971.JPG')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1399420605-28033-52HeritageGardens_0018.jpg')"></div>
					</div>
				</div>
			</div><div class="gallery-cell">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<div class="FlexEmbed-content">
						<div class="u-posAbsoluteCenter CoverImage" style="background-image: url('http://mydesktop.aunz.s3-website-ap-southeast-2.amazonaws.com/rwcairso/photos/1399420889-1914-52-Heritage-Gardens_0002-PS-Web.jpg')"></div>
					</div>
				</div>
			</div>
							</div>
						</section>

						<div class="Container">
							<div class="Grid Grid--withGutter">
								<div class="Grid-cell u-xs-size4of12 u-paddingR2 u-alignBlockDown">
									<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAql2kulp165ryrd2TH0vG6CPkkB2-u4FY&q=-16.945882,145.736738" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

									<div class="DivRule--light u-marginT"></div>
									<h3 class="Headline--tertiary">Share this property</h3>
									{% include share.html %}

								</div>

								<div class="Grid-cell u-xs-size8of12">
									<h1 class="Property-title">Residential property at EARLVILLE </h1>
									<p class="Property-price">$170,000</p>

									<div class="DivRule u-marginT15"></div>
									<p class="Property-address">
										34/11-21 Barr Street, EARLVILLE
										<span class="Property-config u-marginLD3">
											<span class="Property-bedroooms">1</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
											</svg>
											<span class="Property-bathrooms">1</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
											</svg>
											<span class="Property-carspaces">0</span>
											<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
											</svg>
										</span>
									</p>
									
									<p class="Property-id">Property ID: CSS6550339</p>

									<!-- <div class="DivRule u-marginT15"></div> -->


									<div class="DivRule--light u-marginT15"></div>

									<div class="Grid Grid--withGutter u-marginT">
										<div class="Grid-cell u-sm-size9of12">

											<p>The Complex offers a lifestyle choice. The grounds are meticulously maintained. The gardens are tropically landscaped. Exclusively for the good people over 50 years of age ONLY and why wouldn't you love living here!</p>
<p>Heritage Gardens Retirement Village, offers an independent lifestyle with freehold Ownership. In all, there are 51 quality independent living villas and apartments. </p>
<p>Number 34/11-21 Barr Street, Earlville, is an accommodating unit. Offering tiled open plan living, combining kitchen, dining and lounge room. The king sized bedroom is complete  with carpet flooring, split system airconditioning and a built in wardrobe. Ample space to plant the herb garden and to potter around.   </p>
<p>The interior laundry is complete with ample linen storage. </p>
<p>There is a lovely front patio and the back, enclosed undercover outdoor patio is quite private and has a built in cupboard/lawn locker. </p>
<p>The interior of this vibrant unit has been repainted. There are solar panels fitted.</p>
<p>Located in a cul-de-sac and within close proximity to many local community amenities, on your enquiry, I will enjoy discussing the many benefits of The Heritage Gardens Retirement Village. </p>
<p>Your enquiry will be well received!</p>

											<div class="u-marginT2">
												{% include profile-card.html %}
											</div>

										</div>
									</div>
								</div>
							</div>

							<section class="Section">
								<div class="Container DivRule">
									<a href="/for-sale">
										<h1 class="Headline Arrow-right u-marginB15">More recent sales</h1>
									</a>
									<div class="Grid Grid--withGutter">
										{% for current in site.data.sold limit:2%}
<div class="Grid-cell u-size1of2 u-xs-size1of3">
	<a class="Property Card" href="/recent-sales/{{current.property_id}}.html">
		<div class="Property-image" style="background-image: url({{current.image}})"></div>

		<div class="Property-details">
			<h1 class="Property-details--title Arrow-right u-marginB0">{{current.address_suburb}}</h1>
			<p class="Property-details--location">{{current.address_street}}</p>
			<p class="Property-details--price">{{current.price}}</p>

			<p class="Property-config u-marginTD6">
				<span class="Property-bedroooms">{{current.bedrooms}}</span>
				<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bed"></use>
				</svg>
				<span class="Property-bathrooms">{{current.bathrooms}}</span>
				<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-bath"></use>
				</svg>
				<span class="Property-carspaces">{{current.garage}}</span>
				<svg class="Icon Icon--md Icon--rightSm Icon--left Icon--textAlign">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-car"></use>
				</svg>
			</p>

		</div>
	</a>
</div>
{% endfor %}
										<div class="Grid-cell u-xs-size1of3">
											<a class="Pathway Card u-bgNeutral u-textCenter u-flex u-flexAlignItemsCenter" href="/for-sale">
												<div class="Pathway-detail">
													<span class="Pathway-icon">
														<svg class="Icon Icon--lg Icon--textAlign">
															<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-recent-sales"></use>
														</svg>
													</span>
													<span class="Pathway-title Arrow-right">Recent sales</span>
												</div>
											</a>
										</div>

									</div>
								</div>
							</section>

						</div>
</article>