---
title: Recent sales
layout: default
---
<section class="Section u-marginT0">
    <div class="Container">
        <div class="DivRule"></div>
        <div class="Grid Grid--withGutter u-marginB2">
            <div class="Grid-cell u-sm-size1of3">
                <p class="u-textBold">Showing 1 – 20 of 32 total listings</p>
            </div>
            <div class="Grid-cell u-sm-size1of3">
                <label for="sortcombo" class="optional u-marginRD6">Sort by:</label>
                <select class="u-textRg" id="sortcombo" name="sortcombo">
                    <option value="updated-DES" label="Most Recent Listings">Most Recent Listings</option>
                    <option value="suburb-ASC" label="Location (A - Z)">Location (A - Z)</option>
                    <option value="suburb-DES" label="Location (Z - A)">Location (Z - A)</option>
                    <option value="price-ASC" label="Price (Low - High)">Price (Low - High)</option>
                    <option value="price-DES" label="Price (High - Low)">Price (High - Low)</option>
                </select>
            </div>
        </div>
        <div class="DivRule--light u-marginB"></div>
        <div class="Grid Grid--withGutter">
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
        </div>
    </div>
</section>

<section class="Section u-bgNeutral u-marginT15 u-marginB25">
    <a class="Pathway" href="/appraisal">
        <div class="Container">
            <span class="Pathway-icon">
                <svg class="Icon Icon--lg Icon--textAlign">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ic-appraisal"></use>
                </svg>
            </span>
            <span class="Pathway-title Arrow-right">Find out what your property is worth</span>
            <p class="">Get a free no-obligation quote</p>
        </div>
    </a>
</section>

<section class="Section u-marginT0">
    <div class="Container">
        <div class="Grid Grid--withGutter">
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
            {% include property-in-list.html %}
        </div>
    </div>
</section>
