<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}" prefix="og: http://ogp.me/ns#">

    {% include head.html %}

<body id="top" class="{{type}} {{slug}} {{page.title}} {{page.categories}} {{page.slug}} {% for tag in site.tags %}{{tag.slug}}{% endfor %}"
    data-spy="scroll" data-target="#scrollspy" data-offset="300">

    {% include header.html %}

    <main class="Content" role="main">
        {{ content }}
    </main>

    {% include footer.html %}
    {% include nav.html %}
    {% include icons.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/build/application.min.js"></script>
    {% include google-analytics.html %}

</body>
</html>
