---
title: tags
layout: default
---

{% if page.title == 'Community events' %}
	{% assign taggedPosts = site.posts | where: 'tags', 'Community events' | first  %}
{% endif %}

<section class="Section u-marginT0">
	<div class="Container">
		<div class="Grid Grid--withGutter">
			<div class="Grid-cell u-sm-size3of12 u-sm-display">
				<div class="Affix" data-spy="affix" data-offset-top="200">
					{% include posts-aside.html %}
				</div>
			</div>
			<div class="Grid-cell u-sm-size9of12">
				{% for post in taggedPosts %}
					{% include post-in-list.html %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>
