---
layout: default
---

<section class="Section u-marginT0 u-marginB2 u-bgBrandAlt">
	<div class="gallery gallery--noDots">
		{% assign testimonials = site.pages | where: 'title', 'Testimonials' | first %}
		{% for testimonial in testimonials.callouts %}
		<div class="gallery-cell">
			<div class="FlexEmbed">
				<div class="FlexEmbed-ratio FlexEmbed-ratio--4by1"></div>
				<div class="FlexEmbed-content u-flex u-flexAlignItemsCenter">

					<div class="Hgroup u-xs-size6of12 Grid-cell--center">
						<p class="s-cms-testimonialHero">
							{{ testimonial }}
						</p>
					</div>

				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>



<section class="Section u-marginT0">
	<div class="Container">
		<div class="Grid Grid--withGutter">
			<div class="Grid-cell u-sm-size4of12 u-sm-paddingR2">
				<div class="Affix" data-spy="affix" data-offset-top="200">
					<div class="DivRule u-msm-hide"></div>
					<h3 class="Headline--tertiary u-msm-marginTD2 u-marginB0">Customer service is our business.</h3>
					<ul class="u-listClean u-marginB">
						<li>We pride ourselves on our customer service. To know more, please get in touch:</li>
						{% assign profile = site.profiles | where: 'title', 'Team' | first %}
						{% include profile-contact.html %}
					</ul>
					{% include share.html %}
				</div>
			</div>

			<div class="Grid-cell u-sm-before10f12 u-sm-size6of12 u-alignBlockUp">
				<div class="s-cms-testimonials">
					{{ content }}
				</div>
			</div>
		</div>
	</div>
</section>
