---
layout: default
---

<section class="Section u-marginT0">
	<div class="Container">
		<div class="Grid Grid--withGutter">
			<div class="Grid-cell u-sm-size4of12 u-sm-paddingR2">
				<div class="Affix" data-spy="affix" data-offset-top="200">
					<p class="">To arrange your free, no-obligation property appraisal please fill in this form, or simply call Therese on 0418 772 995.</p>
					<p class="">The appraisal will be arranged for a time that suits you, and includes a detailed, up-to-date report on real estate prices, past and present, in your local community.</p>
				</div>
			</div>

			<div class="Grid-cell u-sm-before10f12 u-sm-size6of12 u-alignBlockDown">
				<div class="s-cms-testimonials">
					{{ content }}
				</div>
			</div>
		</div>
	</div>
</section>
